<div mat-dialog-content class="dialog" *ngIf="data && data.adicional">
    <p>{{data.titulo | translate}}</p>
    <mat-form-field>
        <mat-label>{{'NOME' | translate}}</mat-label>
        <input matInput [formControl]="nomeFormControl" [(ngModel)]="data.adicional.nome" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{'DESC_SERVICO' | translate}}</mat-label>
        <input matInput [(ngModel)]="data.adicional.descricao" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
        <input matInput [formControl]="precoFormControl" [(ngModel)]="data.adicional.preco" 
            mask='separator.2' [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$" />
    </mat-form-field>
    <div class="dialog__button-container">
        <button mat-flat-button color="warn" (click)="onNoClick()">{{'CANCELAR' | translate}}</button>
        <button mat-flat-button [mat-dialog-close]="data.adicional" [disabled]="hasErrors()" cdkFocusInitial color="primary">{{data.textoBotao | translate}}</button>
    </div>
</div>