<div mat-dialog-content class="dialog" *ngIf="data && data.adicional">
    <p>{{data.titulo | translate}}</p>
    <mat-form-field>
        <mat-label>{{'NOME' | translate}}</mat-label>
        <input matInput [formControl]="nomeFormControl" maxlength="80" required [(ngModel)]="data.adicional.nome" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{'DESCRICAO' | translate}}</mat-label>
        <textarea matInput [(ngModel)]="data.adicional.descricao" matInput placeholder="Your Message" maxlength="280" formControlName="message" cdkTextareaAutosize></textarea>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
        <input matInput maxlength="12" [formControl]="precoFormControl" required [(ngModel)]="data.adicional.preco" 
            mask='separator.2' [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$" />
    </mat-form-field>
    <div class="dialog__button-container">
        <button mat-flat-button color="warn" (click)="onNoClick()">{{'CANCELAR' | translate}}</button>
        <button mat-flat-button [mat-dialog-close]="data.adicional" [disabled]="hasErrors()" cdkFocusInitial color="primary">{{data.textoBotao | translate}}</button>
    </div>
</div>