<div *ngIf="usuario">
    <app-mensagem-ativacao [usuario]='usuario'></app-mensagem-ativacao>
    <h1 class="mat-display-2 client-name">{{geraTitulo()}}</h1>
    <h2 *ngIf="usuario.empresa" class="subtitulo">{{geraSubtitulo()}}</h2>
    <hr>
    <div class="informacoes-usuario" *ngIf="!usuario.empresa; else empresaBlock">
        <app-informacoes-pessoais (altera-telefone)="alteraTelefone($event)"
        [usuario]='usuario'></app-informacoes-pessoais>
        <app-endereco (atualiza-endereco)="atualizaEndereco($event)" [endereco]='usuario.endereco'></app-endereco>
    </div>


    <ng-template #empresaBlock>
        <mat-tab-group>
            <mat-tab label="{{usuario.nome}}">
                <div class="informacoes-usuario">
                    <app-informacoes-pessoais (altera-telefone)="alteraTelefone($event)"
                    [usuario]='usuario'></app-informacoes-pessoais>
                    <app-endereco (atualiza-endereco)="atualizaEndereco($event)" [endereco]='usuario.endereco'></app-endereco>
                </div>
            </mat-tab>
        <mat-tab label="{{usuario.empresa.razaoSocial}}">
            <div class="informacoes-usuario">
                <app-endereco 
                    [endereco]='usuario.empresa.endereco' 
                    (atualiza-endereco)="atualizaEnderecoEmpresa($event)"></app-endereco>
            </div>
        </mat-tab>
        </mat-tab-group>
    </ng-template>

    <h3 class="page-section-title">{{'SERVICOS' | translate}}</h3>

    <button mat-flat-button *ngIf="!isFormVisivel" 
                color="primary" 
                (click)="exibeFormulario()"
                [disabled]="!usuario.isAtivo"
                matTooltip="{{usuario.isAtivo ? '' : 'ATIVE_CONTA' | translate}}">{{'ADD_SERVICO' | translate}}</button>
    
    <app-formulario-servico [servico]="servico"
    (adiciona-servico)="adicionaServico($event)"
    (cancelar-operacao)="cancelar()"
    [exibeFormulario]="isFormVisivel"></app-formulario-servico>

    <app-servicos [prestador-id]="usuario.id" 
                    (remover-servico)="removeServico($event)"></app-servicos>   

    <!-- <p class="sucesso" *ngIf="mensagemSucesso">{{'MENSAGEM_SUCESSO' | translate}}</p> -->

    <app-agenda-prestador [prestador-id]="usuario.id"></app-agenda-prestador> 
    
 
</div>



