<div *ngIf="usuario">
    <app-mensagem-ativacao [usuario]='usuario'></app-mensagem-ativacao>
    <h1 class="mat-display-2 client-name">{{usuario.nome}}</h1>
    <hr>
    <div class="informacoes-usuario">
        <app-informacoes-pessoais (altera-telefone)="alteraTelefone($event)"
        [usuario]='usuario'></app-informacoes-pessoais>
        <app-endereco (atualiza-endereco)="atualizaEndereco($event)" [endereco]='usuario.endereco'></app-endereco>
    </div>

    <h3 class="page-section-title">{{'SERVICOS' | translate}}</h3>

    <button mat-flat-button *ngIf="!isFormVisivel" color="primary" (click)="exibeFormulario()">{{'ADD_SERVICO' | translate}}</button>
    
    <app-formulario-servico [servico]="servico"
    (adiciona-servico)="adicionaServico($event)"
    (cancelar-operacao)="cancelar()"
    [exibeFormulario]="isFormVisivel"></app-formulario-servico>

    <app-servicos [prestador-id]="usuario.id" 
                  (remover-servico)="removeServico($event)"></app-servicos>

        <button mat-flat-button *ngIf="!isFormVisivel" 
                color="primary" 
                (click)="exibeFormulario()"
                [disabled]="!usuario.isAtivo"
                matTooltip="{{usuario.isAtivo ? '' : 'ATIVE_CONTA' | translate}}">{{'ADD_SERVICO' | translate}}</button>
   

    <mat-error *ngIf="erroRequisicao"> {{erroRequisicao | translate}} </mat-error>
    <p class="sucesso" *ngIf="mensagemSucesso">{{'MENSAGEM_SUCESSO' | translate}}</p>

    
 
</div>



