<h2 mat-dialog-title>{{'POLITICA-PRIVACIDADE' | translate}}</h2>
<mat-dialog-content class="mat-typography">

    <p>Este site é mantido e operado por Pet Show LTDA.</p>
    <p>Nós coletamos e utilizamos alguns dados pessoais que pertencem àqueles que utilizam nosso site. Ao fazê-lo, agimos na qualidade de controlador desses dados e estamos sujeitos às disposições da Lei Federal n. 13.709/2018 (Lei Geral de Proteção de Dados Pessoais – LGPD).</p>
    <p>Nós cuidamos da proteção de seus dados pessoais e, por isso, disponibilizamos esta política de privacidade, que contém informações sobre:</p>
      <ul>
        <li>Quem deve utilizar nosso site;</li>
        <li>Quais dados coletamos e o que fazemos com eles;</li>
        <li>Seus direitos em relação aos seus dados pessoais; e</li>
        <li>Como entrar em contato conosco.</li>
      </ul>
    <h3>1. Quem deve utilizar nosso site</h3>
    <p>Nosso site só deve ser utilizado por pessoas com mais de dezoito anos de idade. Sendo assim, crianças e adolescentes não devem utilizá-lo.</p>
    <h3>2. Dados que coletamos e motivos da coleta</h3>
    <p>Nosso site coleta e utiliza alguns dados pessoais de nossos usuários, de acordo com o disposto nesta seção.</p>
    <h4>2.1.	Dados pessoais fornecidos expressamente pelo usuário</h4>
    <p>Nós coletamos os seguintes dados pessoais que nosso usuários nos fornecem expressamente ao utilizar nosso site:</p>
      <ul>
        <li>Nome Completo;</li>
        <li>CPF;</li>
        <li>Endereço de e-mail;</li>
        <li>Número de telefone;</li>
        <li>Data de nascimento;</li>
        <li>Endereço Residencial.</li>
      </ul>  
    <p>A coleta destes dados ocorre no(s) seguinte(s) momento(s): no cadastro de novo usuário.</p>
    <p>Os dados fornecidos por nossos usuários são coletados com as seguintes finalidades:</p>
      <ul>
        <li>para que o usuário possa adquirir nossos produtos e serviços;</li>
        <li>para que nós possamos enviar dados do serviço prestado por e-mail ao usuário;</li>
        <li>para que nós possamos enviar ofertas aos nossos usuários.</li>
      </ul>
    <h4>2.2	Dados pessoais obtidos de outras formas</h4>
    <p>Nós coletamos  os seguintes dados pessoais dos nossos usuários:</p>
      <ul>
        <li>endereço IP;</li>
        <li>dados de geolocalização;</li>
        <li>dados de transações feitas por meio do site.</li>
      </ul> 
    <p>A coleta destes dados ocorre nos seguintes momentos:</p>
      <ul>
        <li>quando o usuário faz login e logout no site;</li>
        <li>quando o usuário realiza um agendamento de serviço;</li>
        <li>quando o usuário faz uma busca por serviços no site;</li>
        <li>quando o usuário clica em algum serviço ou perfil de um prestador.</li>
      </ul> 
    <p>Estes dados serão coletados com as seguintes finalidades:</p>
      <ul>
        <li>garantir a segurança e autenticidade das transações feitas no site;</li>
        <li>cumprir determinação legal de armazenamento de registros de acesso a aplicações;</li>
        <li>personalizar a experiência do usuário.</li>
      </ul>
    <h4>2.3	Dados sensíveis</h4>
    <p>Não serão coletados dos sensíveis de nossos usuários, assim entendidos aqueles definidos no art. 11 e seguintes da Lei de Proteção de Dados Pessoais. Assim, não haverá coleta de dados sobre origem racial ou étnica, convicção religiosa, opinião política, filiação a sindicato ou a organização de caráter religioso, filosófico ou político, dado referente à saúde ou à vida sexual, dado genético ou biométrico, quando vinculado a uma pessoa natural.</p>
    <h4>2.4	Cookies</h4>
    <p>Cookies são pequenos arquivos de texto baixados automaticamente em seu dispositivo quando você acessa e navega por um site. Eles servem, basicamente, para que seja possível identificar dispositivos, atividades e preferências de usuários.</p>
    <p>Os cookies não permitem que qualquer arquivo ou informação sejam extraídos do disco rígido do usuário, não sendo possível, ainda, que, por meio deles, se tenha acesso a informações pessoais que não tenham partido do usuário ou da forma como utiliza os recursos do site.</p>
    <h5>a.	Cookies do site</h5>
    <p>Os cookies do site são aqueles enviados ao computador ou dispositivo do usuário e administrador exclusivamente pelo site.</p>
    <p>As informações coletadas por meio destes cookies são utilizados para melhorar e personalizar a experiência do usuário, sendo que alguns cookies podem, por exemplo, ser utilizados para lembrar as preferências escolhidas do usuário, bem como para o oferecimento de conteúdo personalizado.</p>
    <h5>b.	Gestão de cookies</h5>
    <p>O usuário poderá se opor ao registro de cookies pelo site, bastando que desative esta opção no seu próprio navegador. Mais informações sobre como fazer isso em alguns dos principais navegadores utilizados hoje podem ser acessadas a partir dos seguintes links:</p>
      <ul>
        <li>Internet Explorer:
        https://support.microsoft.com/pt-br/help/17442/windows-internet-explorer-delete-manage-cookies </li>
        <li>Safari:
        https://support.apple.com/pt-br/guide/safari/sfri11471/mac </li>
        <li>Google Chrome:
        https://support.google.com/chrome/answer/95647?hl=pt-BR&amp;hlrm=pt</li>
        <li>Mozila Firefox:
        https://support.mozilla.org/pt-BR/kb/ative-e-desative-os-cookies-que-os-sites-usam</li>
        <li>Opera:
        https://www.opera.com/help/tutorials/security/privacy/</li>
      </ul>
    <p>A desativação dos cookies, no entanto, pode afetar a disponibilidade de algumas ferramentas e funcionalidades do site, comprometendo seu correto e esperado funcionamento. Outra consequência possível é remoção das preferências do usuário que eventualmente tiverem sido salvas, prejudicando sua experiência.</p>
    <h3>3. Compartilhamento de dados pessoais com terceiros</h3>
    <p>Nós não compartilhamos seus dados pessoais com terceiros. Apesar disso, é possível que o façamos para cumprir alguma determinação legal ou regulatória, ou, ainda, para cumprir alguma ordem expedida por autoridade pública.</p>
    <h3>4. Por quanto tempo seus dados pessoais serão armazenados</h3>
    <p>Os dados pessoais coletados pelo site são armazenados e utilizados por período de tempo que corresponda ao necessário para atingir as finalidades elencadas neste documento e que considere os direitos de seus titulares, os direitos do controlador do site e as disposições legais ou regulatórias aplicáveis.</p>
    <p>Uma vez expirados os períodos de armazenamento dos dados pessoais, eles são removidos de nossas bases de dados ou anonimizados, salvo nos casos em que houver a possibilidade ou a necessidade de armazenamento em virtude de disposição legal ou regulatória.</p>
    
    <h3>5. Bases legais para o tratamento de dados pessoais</h3>
    <p>Uma base legal para o tratamento de dados pessoais nada mais é que um fundamento jurídico, previsto em lei, que justifica o justifica. Assim, cada operação de tratamento de dados pessoais precisa ter uma base legal a ela correspondente.</p>
    <p>Nós tratamos os dados pessoais de nossos usuários nas seguintes hipóteses:</p>
      <ul>
        <li>mediante o consentimento do titular dos dados pessoais;</li>
        <li>Para o cumprimento de obrigação legal ou regulatória pelo controlador;</li>
        <li>Para o exercício regular de direitos em processo judicial, administrativo ou arbitral;</li>
        <li>Para a execução de contrato ou de procedimentos preliminares relacionados a contrato do qual seja parte o titular, a pedido do titular dos dados pessoais;</li>
        <li>quando necessário para atender aos interesses legítimos do controlador ou de terceiro;</li>
        <li>para a proteção do crédito.</li>
      </ul>
    <h4>5.1.	Consentimento</h4>
    <p>Determinadas operações de tratamento de dados pessoais realizadas em nosso site dependerão da prévia concordância do usuário, que deverá manifestá-la de forma livre, informada e inequívoca.</p>
    <p>O usuário poderá revogar seu consentimento a qualquer momento, sendo que, não havendo hipótese legal que permita ou que demande o armazenamento dos dados, os dados fornecidos mediante consentimento serão excluídos.</p>
    <p>Além disso, se desejar, o usuário poderá não concordar com alguma operação de tratamento de dados pessoais baseada no consentimento. Nestes casos, porém, é possível que não possa utilizar alguma funcionalidade do site que dependa daquela operação. As consequências da falta de consentimento para uma atividade específica são informadas previamente ao tratamento.</p>
    <h4>5.2.	Cumprimento de obrigação legal ou regulatória pelo controlador</h4>
    <p>Algumas operações de tratamento de dados pessoais, sobretudo o armazenamento de dados, serão realizadas para que possamos cumprir obrigações previstas em lei ou em outras disposições normativas aplicáveis às nossas atividades.</p>
    <h4>5.3.	Execução de contrato</h4>
    <p>Para a execução de contrato de compra e venda ou de prestação de serviços eventualmente firmado entre o site e o usuário, poderão ser coletados e armazenados outros dados relacionados ou necessários a sua execução, incluindo o teor de eventuais comunicações tidas com o usuário.</p>
    <h4>5.4.	Legítimo interesse</h4>
    <p>Para determinadas operações de tratamento de dados pessoais, nos baseamos exclusivamente em nosso interesse legítimo. Para saber mais sobre em quais casos, especificamente, nos valemos desta base legal, ou para obter mais informações sobre os testes que fazemos para termos certeza de que podemos utilizá-la, entre em contato com nosso Encarregado de Proteção de Dados Pessoais por algum dos canais informados nesta Política de Privacidade, na seção “Como entrar em contato conosco”.</p>
    
    <h3>6. Direitos do usuário</h3>
    <p>O usuário do site possui os seguintes direitos, conferidos pela Lei de Proteção de Dados Pessoais:</p>
      <ul>
        <li>confirmação da existência de tratamento;</li>
        <li>acesso aos dados;</li>
        <li>correção de dados incompletos, inexatos ou desatualizados;</li>
        <li>anonimização, bloqueio ou eliminação de dados desnecessários, excessivos ou tratados em desconformidade com o disposto na lei;</li>
        <li>portabilidade dos dados a outro fornecedor de serviço ou produto, mediante requisição expressa, de acordo com a regulamentação da autoridade nacional, observados os segredos comercial e industrial;</li>
        <li>eliminação dos dados pessoais tratados com o consentimento do titular, exceto nos casos previstos em lei;</li>
        <li>informação das entidades públicas e privadas com as quais o controlador realizou uso compartilhado de dados;</li>
        <li>informação sobre a possibilidade de não fornecer consentimento e sobre as consequências da negativa;</li>
        <li>revogação do consentimento.</li>
      </ul>
    <p>É importante destacar que, nos termos da LGPD, não existe um direito de eliminação de dados tratados com fundamento em bases legais distintas do consentimento, a menos que os dados seja desnecessários, excessivos ou tratados em desconformidade com o previsto na lei.</p>
    <h4>6.1.	Como o titular pode exercer seus direitos</h4>
    <p>Os titulares de dados pessoais tratados por nós poderão exercer seus direitos a partir do envio de mensagem, seja por e-mail ou por correspondência ao nosso Encarregado de Proteção de Dados Pessoais. As informações necessárias para isso estão na seção "Como entrar em contato conosco" desta Política de Privacidade.</p>
    <p>Para garantir que o usuário que pretende exercer seus direitos é, de fato, o titular dos dados pessoais objeto da requisição, poderemos solicitar documentos ou outras informações que possam auxiliar em sua correta identificação, a fim de resguardar nossos direitos e os direitos de terceiros. Isto somente será feito, porém, se for absolutamente necessário, e o requerente receberá todas as informações relacionadas.</p>
    
    <h3>7. Medidas de segurança no tratamento de dados pessoais</h3>
    <p>Empregamos medidas técnicas e organizativas aptas a proteger os dados pessoais de acessos não autorizados e de situações de destruição, perda, extravio ou alteração desses dados.</p>
    <p>As medidas que utilizamos levam em consideração a natureza dos dados, o contexto e a finalidade do tratamento, os riscos que uma eventual violação geraria para os direitos e liberdades do usuário, e os padrões atualmente empregados no mercado por empresas semelhantes à nossa.</p>
    <p>Entre as medidas de segurança adotadas por nós, destacamos as seguintes:</p>
      <ul>
        <li>Os dados de nossos usuários são armazenados em ambiente seguro; </li>
        <li>Limitamos o acesso aos dados de nossos usuários, de modo que terceiros não autorizados não possam acessá-los; </li>
        <li>Utilizamos certificado SSL (Secure Socket Layer), de modo que a transmissão de dados entre os dispositivos dos usuários e nossos servidores aconteça de forma criptografada;</li>
        <li>Armazenamento de senhas utilizando hashes criptográficos;</li>
        <li>Restrições de acesso ao banco de dados;</li>
        <li>Mantemos registros de todos aqueles que têm, de alguma forma, contato com nossos dados.</li>
      </ul>
    <p>Ainda que adote tudo o que está ao seu alcance para evitar incidentes de segurança, é possível que ocorra algum problema motivado exclusivamente por um terceiro - como em caso de ataques de hackers ou crackers ou, ainda, em caso de culpa exclusiva do usuário, que ocorre, por exemplo, quando ele mesmo transfere seus dados a terceiro. Assim, embora sejamos, em geral, responsáveis pelos dados pessoais que tratamos, nos eximimos de responsabilidade caso ocorra uma situação excepcional como essas, sobre as quais não temos nenhum tipo de controle.</p>
    <p>De qualquer forma, caso ocorra qualquer tipo de incidente de segurança que possa gerar risco ou dano relevante para qualquer de nossos usuários, comunicaremos os afetados e a Autoridade Nacional de Proteção de Dados acerca do ocorrido, em conformidade com o disposto na Lei Geral de Proteção de Dados.</p>
    
    <h3>8. Alterações nesta política</h3>
    <p>A presente versão desta Política de Privacidade foi atualizada pela última vez em: 29/10/2020.</p>
    <p>Nos reservamos o direito de modificar, a qualquer momento, as presentes normas, especialmente para adaptá-las às eventuais alterações feitas em nosso site, seja pela disponibilização de novas funcionalidades, seja pela supressão ou modificação daquelas já existentes.</p>
    <p>Sempre que houver uma modifição, nossos usuários serão notificados acerca da mudança.</p>
    
    <h3>9. Como entrar em contato conosco</h3>
    <p>Para esclarecer quaisquer dúvidas sobre esta Política de Privacidade ou sobre os dados pessoais que tratamos, entre em contato conosco, por algum dos canais mencionados abaixo:</p>
    <p>E-mail: petshowmail122gmail.com</p>
    <p>Assunto: Política de Privacidade</p>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button color="primary" mat-dialog-close>{{'FECHAR' | translate}}</button>
</mat-dialog-actions>



