<h2 mat-dialog-title>{{'POLITICA-PRIVACIDADE' | translate}}</h2>
<mat-dialog-content class="mat-typography">

  <p>{{'POLITICA-LINHA4' | translate}}</p>
  <p>{{'POLITICA-LINHA5' | translate}}</p>
  <p>{{'POLITICA-LINHA6' | translate}}</p>
  <ul>
    <li>{{'POLITICA-LINHA8' | translate}}</li>
    <li>{{'POLITICA-LINHA9' | translate}}</li>
    <li>{{'POLITICA-LINHA10' | translate}}</li>
    <li>{{'POLITICA-LINHA11' | translate}}</li>
  </ul>
  <h3>{{'POLITICA-LINHA13' | translate}}</h3>
  <p>{{'POLITICA-LINHA14' | translate}}</p>
  <h3>{{'POLITICA-LINHA15' | translate}}</h3>
  <p>{{'POLITICA-LINHA16' | translate}}</p>
  <h4>{{'POLITICA-LINHA17' | translate}}</h4>
  <p>{{'POLITICA-LINHA18' | translate}}</p>
  <ul>
    <li>{{'POLITICA-LINHA20' | translate}}</li>
    <li>{{'POLITICA-LINHA21' | translate}}</li>
    <li>{{'POLITICA-LINHA22' | translate}}</li>
    <li>{{'POLITICA-LINHA23' | translate}}</li>
  </ul>
  <p>{{'POLITICA-LINHA25' | translate}}</p>
<li>(a) {{'POLITICA-LINHA26' | translate}}</li>
<li>(b) {{'POLITICA-LINHA27' | translate}}</li>
<li>(c) {{'POLITICA-LINHA28' | translate}}</li>


  <p>{{'POLITICA-LINHA31' | translate}}</p>
  <ul>
    <li>{{'POLITICA-LINHA33' | translate}}</li>
    <li>{{'POLITICA-LINHA34' | translate}}</li>
    <li>{{'POLITICA-LINHA35' | translate}}</li>
  </ul>
  <h4>{{'POLITICA-LINHA37' | translate}}</h4>
  <p>{{'POLITICA-LINHA38' | translate}}</p>
  <ul>
    <li>{{'POLITICA-LINHA40' | translate}}</li>
    <li>{{'POLITICA-LINHA41' | translate}}</li>
    <li>{{'POLITICA-LINHA42' | translate}}</li>
  </ul>
  <p>{{'POLITICA-LINHA44' | translate}}</p>
  <ul>
    <li>{{'POLITICA-LINHA46' | translate}}</li>
    <li>{{'POLITICA-LINHA47' | translate}}</li>
    <li>{{'POLITICA-LINHA48' | translate}}</li>
    <li>{{'POLITICA-LINHA49' | translate}}</li>
  </ul>
  <p>{{'POLITICA-LINHA51' | translate}}</p>
  <ul>
    <li>{{'POLITICA-LINHA53' | translate}}</li>
    <li>{{'POLITICA-LINHA54' | translate}}</li>
    <li>{{'POLITICA-LINHA55' | translate}}</li>
  </ul>
  <h4>{{'POLITICA-LINHA57' | translate}}</h4>
  <p>{{'POLITICA-LINHA58' | translate}}</p>
  
  <h4>{{'POLITICA-LINHA60' | translate}}</h4>
  <p>{{'POLITICA-LINHA61' | translate}}</p>
  <p>{{'POLITICA-LINHA62' | translate}}</p>
  <h5>a. {{'POLITICA-LINHA63' | translate}}</h5>
  <p>{{'POLITICA-LINHA64' | translate}}</p>
  <p>{{'POLITICA-LINHA65' | translate}}</p>
  <h5>b. {{'POLITICA-LINHA66' | translate}}</h5>
  <p>{{'POLITICA-LINHA67' | translate}}</p>
  <ul>
    <li>{{'POLITICA-LINHA69' | translate}}</li>
    <li>{{'POLITICA-LINHA70' | translate}}</li>
    <li>{{'POLITICA-LINHA71' | translate}}</li>
    <li>{{'POLITICA-LINHA72' | translate}}</li>
    <li>{{'POLITICA-LINHA73' | translate}}</li>
  </ul>
  <p>{{'POLITICA-LINHA75' | translate}}</p>

  <h3>{{'POLITICA-LINHA77' | translate}}</h3>
  <p>{{'POLITICA-LINHA78' | translate}}</p>

  <h3>{{'POLITICA-LINHA80' | translate}}</h3>
  <p>{{'POLITICA-LINHA81' | translate}}</p>
  <p>{{'POLITICA-LINHA82' | translate}}</p>

  <h3>{{'POLITICA-LINHA84' | translate}}</h3>
  <p>{{'POLITICA-LINHA85' | translate}}</p>
  <p>{{'POLITICA-LINHA86' | translate}}</p>
  <ul>
    <li>{{'POLITICA-LINHA88' | translate}}</li>
    <li>{{'POLITICA-LINHA89' | translate}}</li>
    <li>{{'POLITICA-LINHA90' | translate}}</li>
    <li>{{'POLITICA-LINHA91' | translate}}</li>
    <li>{{'POLITICA-LINHA92' | translate}}</li>
    <li>{{'POLITICA-LINHA93' | translate}}</li>
  </ul>
  <h4>{{'POLITICA-LINHA95' | translate}}</h4>
  <p>{{'POLITICA-LINHA96' | translate}}</p>
  <p>{{'POLITICA-LINHA97' | translate}}</p>
  <p>{{'POLITICA-LINHA98' | translate}}</p>
  <h4>{{'POLITICA-LINHA99' | translate}}</h4>
  <p>{{'POLITICA-LINHA100' | translate}}</p>
  <h4>{{'POLITICA-LINHA101' | translate}}</h4>
  <p>{{'POLITICA-LINHA102' | translate}}</p>
  <h4>{{'POLITICA-LINHA103' | translate}}</h4>
  <p>{{'POLITICA-LINHA104' | translate}}</p>

  <h3>{{'POLITICA-LINHA106' | translate}}</h3>
  <p>{{'POLITICA-LINHA107' | translate}}</p>
  <ul>
    <li>{{'POLITICA-LINHA109' | translate}}</li>
    <li>{{'POLITICA-LINHA110' | translate}}</li>
    <li>{{'POLITICA-LINHA111' | translate}}</li>
    <li>{{'POLITICA-LINHA112' | translate}}</li>
    <li>{{'POLITICA-LINHA113' | translate}}</li>
    <li>{{'POLITICA-LINHA114' | translate}}</li>
    <li>{{'POLITICA-LINHA115' | translate}}</li>
    <li>{{'POLITICA-LINHA116' | translate}}</li>
    <li>{{'POLITICA-LINHA117' | translate}}</li>
  </ul>
  <p>{{'POLITICA-LINHA119' | translate}}</p>
  <h4>{{'POLITICA-LINHA120' | translate}}</h4>
  <p>{{'POLITICA-LINHA121' | translate}}</p>
  <p>{{'POLITICA-LINHA122' | translate}}</p>

  <h3>{{'POLITICA-LINHA124' | translate}}</h3>
  <p>{{'POLITICA-LINHA125' | translate}}</p>
  <p>{{'POLITICA-LINHA126' | translate}}</p>
  <p>{{'POLITICA-LINHA127' | translate}}</p>
  <ul>
    <li>{{'POLITICA-LINHA129' | translate}}</li>
    <li>{{'POLITICA-LINHA130' | translate}}</li>
    <li>{{'POLITICA-LINHA131' | translate}}</li>
    <li>{{'POLITICA-LINHA132' | translate}}</li>
    <li>{{'POLITICA-LINHA133' | translate}}</li>
    <li>{{'POLITICA-LINHA134' | translate}}</li>
  </ul>
  <p>{{'POLITICA-LINHA136' | translate}}</p>
  <p>{{'POLITICA-LINHA137' | translate}}</p>

  <h3>{{'POLITICA-LINHA139' | translate}}</h3>
  <p>{{'POLITICA-LINHA140' | translate}}</p>
  <p>{{'POLITICA-LINHA141' | translate}}</p>
  <p>{{'POLITICA-LINHA142' | translate}}</p>

  <h3>{{'POLITICA-LINHA144' | translate}}</h3>
  <p>{{'POLITICA-LINHA145' | translate}}</p>
  <p>E-mail: petshowmail12@gmail.com</p>
  <p>{{'POLITICA-LINHA147' | translate}}</p>

</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-flat-button color="primary" mat-dialog-close>{{'FECHAR' | translate}}</button>
</mat-dialog-actions>
