<mat-dialog-content>
    <mat-form-field>
        <mat-label>{{'OFERTA' | translate}}</mat-label>
            <input matInput [(ngModel)]="preco" maxlength="12" mask="separator.2" 
            [thousandSeparator]="'.'"
            [decimalMarker]="','"
            prefix="R$"
            (change)="alteraPreco()"
        />
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-flat-button color="warn" (click)="onNoClick()">
        {{'CANCELAR' | translate}}
    </button>
    <button mat-flat-button color="primary" 
        [mat-dialog-close]="data"
        [disabled]="hasErrors()"
    >
        {{'ENVIAR_OFERTA' | translate}}
    </button>
</mat-dialog-actions>