<section>
    <h3 class="page-section-title">Animais</h3>
    <mat-list class="animal-list">
        <mat-list-item>
            <div class="animal-list__item">
                <span>Nome animal</span> 
                <div class="animal-list__button-container">
                    <button mat-flat-button color="accent">Editar</button>
                    <button mat-flat-button color="warn">Remover</button>
                </div>
            </div>
        </mat-list-item>
        <mat-list-item>
            <div class="animal-list__item">
                <span>Nome animal</span> 
                <div class="animal-list__button-container">
                    <button mat-flat-button color="accent">Editar</button>
                    <button mat-flat-button color="warn">Remover</button>
                </div>
            </div>
        </mat-list-item>
        <mat-list-item>
            <div class="animal-list__item">
                <span>Nome animal</span> 
                <div class="animal-list__button-container">
                    <button mat-flat-button color="accent">Editar</button>
                    <button mat-flat-button color="warn">Remover</button>
                </div>
            </div>
        </mat-list-item>
        <mat-list-item>
            <div class="animal-list__item">
                <span>Nome animal</span> 
                <div class="animal-list__button-container">
                    <button mat-flat-button color="accent">Editar</button>
                    <button mat-flat-button color="warn">Remover</button>
                </div>
            </div>
        </mat-list-item>
    </mat-list>
</section>

<app-formulario-animal></app-formulario-animal>