<section>
    <h3 class="page-section-title">Animais</h3>
    <div class="conteiner-animal-list" *ngIf="animaisEstimacao; then animaisBlock else vazioBlock"></div>
    
    <ng-template #vazioBlock>
        <p>Nenhum animal cadastrado</p>
    </ng-template>

    <ng-template #animaisBlock>
        <mat-list class="animal-list">
            <mat-list-item *ngFor="let animal of animaisEstimacao">
                <div class="animal-list__item">
                    <span>{{animal.nome}}</span> 
                    <div class="animal-list__button-container">
                        <button mat-flat-button color="accent" (click)="updFunction()">Editar</button>
                        <button mat-flat-button color="warn">Remover</button>
                    </div>
                </div>
                </mat-list-item>
        </mat-list>
    </ng-template>
</section>
<button mat-flat-button color="primary">Adicionar novo animal</button>

<app-formulario-animal></app-formulario-animal>