<div *ngIf="usuario">
    <app-mensagem-ativacao [usuario]='usuario'></app-mensagem-ativacao>
    <h1 class="mat-display-2 client-name">{{usuario.nome}}</h1>
    <hr>
    <div class="informacoes-usuario">
        <app-informacoes-pessoais (altera-telefone)="alteraTelefone($event)"
        [usuario]='usuario'></app-informacoes-pessoais>
        <app-endereco (atualiza-endereco)="atualizaEndereco($event)" [endereco]='usuario.endereco'></app-endereco>
    </div>
    
    <h3 class="page-section-title">{{'ANIMAIS' | translate}}</h3>

    <button mat-flat-button *ngIf="!isFormVisivel" color="primary" (click)="exibeFormulario()">{{'ADD_ANIMAL' | translate}}</button>
    
    <app-formulario-animal [animal]="animal"
    (adiciona-animal)="adicionaAnimal($event)"
    (atualiza-animal)="editaAnimal($event)"
    (cancelar-operacao)="cancelar()"
    [exibeFormulario]="isFormVisivel"></app-formulario-animal>

    <app-animal-estimacao [dono-id]="usuario.id"
                          (seleciona-animal)="selecionaAnimal($event)"
                          (remover-animal)="removeAnimal($event)"></app-animal-estimacao>

    
    <mat-error *ngIf="erroRequisicao"> {{erroRequisicao | translate}} </mat-error>
    <!-- <p class="sucesso" *ngIf="mensagemSucesso">{{'MENSAGEM_SUCESSO' | translate}}</p> -->

    <app-agenda-cliente [cliente-id]="usuario.id"></app-agenda-cliente> 

</div>


