@import '../../../global.scss';

.client-name {
    margin: 15px;
}

.animais{
    margin: 0px;
}
.sucesso { 
    color: green;
}

.informacoes-usuario {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-auto-rows: 1fr;
    
    @media screen and (max-width: $tablet-width){
        grid-template-columns: 1fr;
    }
}

.pets{
    padding: 0px 15px;
}

.mat-flat-button{
    margin-left: 15px;
}