@import '../../../../global.scss';

.cadastro-conta {
    padding: 0% 28%;

    @media screen and (max-width: $tablet-width){
        padding: 0% 10%;
        width:90%;
    }
}

.form__button-container{
  
    .mat-flat-button{
        @media screen and (max-width: $tablet-width){
            font-size: 18px !important;
            height: 35px !important;
        }
    }
}