<section>
  <h3 class="page-section-title">{{'AGENDAMENTOS' | translate}}</h3>
  <div class="conteiner-agendamento-list"
    *ngIf="agendamentos && agendamentos.length; then agendamentosBlock else vazioBlock"></div>

  <ng-template #vazioBlock>
    <p class="no_registered">{{'NENHUM_AGENDAMENTO' | translate}}</p>
  </ng-template>

  <ng-template #agendamentosBlock>
    <mat-list class="agendamentos-list">
      <mat-list-item *ngFor="let agendamento of agendamentos">
        <div class="agendamento-list__item">
          <div>
            <span>
              <p>{{agendamento.servicoDetalhado.tipo.nome | translate}}</p>
              <p>{{agendamento.data}}</p>
              <p>{{'PRECO_FINAL' | translate}}: {{agendamento.precoFinal | currency: 'BRL'}}</p>
            </span>
          </div>
          <div>
            <ng-container *ngFor="let animal of agendamento.animaisAtendidos">
              <span *ngIf="animal.tipo.nome.toLowerCase() === 'cachorro'; else infosGato">
                <p>{{'ANIMAL_SER_ATENDIDO' | translate}}: {{animal.nome}} {{'DE' | translate}} {{agendamento.cliente.nome}}</p>
                <p>{{'CACHORRO' | translate}} {{'DE' | translate}} {{'PORTE' | translate}}: {{animal.tipo.porte}} {{'E' | translate}} {{'PELAGEM' | translate}}: {{animal.tipo.pelagem}}</p>
              </span>
              <ng-template #infosGato>
                <span>
                  <p>{{animal.nome}} {{'DE' | translate}} {{agendamento.cliente.nome}}</p>
                  <p>{{animal.tipo.nome}}</p>
                </span>
              </ng-template>
            </ng-container>
            <span><p>{{'STATUS' | translate}}: <span class="{{getStatusClassColor(agendamento)}}">{{agendamento.status.nome | translate}}</span></p></span>
          </div>
          <div class="agendamento-list__button-container" *ngIf="isAtivo(agendamento)">
            <button class="button-top" mat-flat-button color="success"
              (click)="concluiAgendamento(agendamento)" *ngIf="agendamento.status.id === 1">{{'CONCLUIDO' | translate}}</button>
            <a mat-flat-button color="primary" href="/agendamento/{{agendamento.id}}">
                {{'VER_DETALHES' | translate}}
            </a>
            <button mat-flat-button color="warn" (click)="cancelaAgendamento(agendamento)">{{'CANCELAR' | translate}}</button>
          </div>
        </div>
      </mat-list-item>
    </mat-list>

    <mat-paginator #paginator 
      [length]="quantidadeTotal"
      [pageIndex]="paginaAtual"
      [pageSize]="quantidadeItens"
      [pageSizeOptions]="[5, 7, 10, 15]"
      (page)="pageEvent = eventoPagina($event)">
    </mat-paginator>
  </ng-template>

</section>
