<div class="grid">
    <div *ngIf="cliente">
        <mat-card>
            <mat-card-title>
                <p>{{cliente.nome}}</p>
            </mat-card-title>
            <mat-card-subtitle>
                {{'DADOS_DO' | translate}} {{'CLIENTE' | translate}}
            </mat-card-subtitle>
            <mat-card-content>
                <p>{{'DADOS_DO' | translate}} {{'CLIENTE' | translate}}: </p>
                <p>{{'NOME' | translate}}: {{cliente.nome}}</p>
                <p>{{'CPF' | translate}}: {{cliente.cpf}}</p>

                <div *ngIf="animaisEstimacao">
                    <mat-card *ngFor="let animal of animaisEstimacao">
                        <mat-card-subtitle>
                            {{animal.nome}}
                        </mat-card-subtitle>
                        <mat-card-content>
                            <p>{{animal.tipo.nome}}</p>
                            <p *ngIf="animal.tipo.porte">{{'PORTE' | translate}}: {{animal.tipo.porte}}</p>
                            <p *ngIf="animal.tipo.pelagem">{{'PELAGEM' | translate}}: {{animal.tipo.pelagem}}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                
            </mat-card-content>
        </mat-card>
    </div>
    

    <div *ngIf="prestador">
        <mat-card>
            <mat-card-title>
                <p>{{prestador.nome}}</p>
            </mat-card-title>
            <mat-card-subtitle>
                {{'DADOS_DO' | translate}} {{'PRESTADOR' | translate}}
            </mat-card-subtitle>
            <mat-card-content>
                <p>{{'NOME' | translate}}: {{prestador.nome}}</p>
                <div *ngIf="servicoDetalhado">
                    <mat-card>
                        <mat-card-subtitle>
                            {{servicoDetalhado.tipo.nome}}
                        </mat-card-subtitle>
                        <mat-card-content>
                            <p>{{'DETALHES_SERVICO' | translate}}: </p>
                            <p>{{servicoDetalhado.tipo.nome}}</p>
                            <p *ngIf="servicoDetalhado.descricao">{{'DESCRICAO' | translate}}: {{servicoDetalhado.descricao}}</p>
                            <p>{{'DATA_AGENDAMENTO' | translate}}: {{dataAgendamento | date: 'dd/MM/yyyy HH:mm'}}</p>
                            <p *ngIf="status">{{'STATUS_AGENDAMENTO' | translate}}: <span class="{{getStatusClassColor()}}">{{status}}</span></p>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div *ngIf="adicionais && adicionais.length">
                    <p>{{'ADICIONAIS' | translate}}: </p>
                    <mat-card *ngFor="let adicional of adicionais">
                        <mat-card-content>
                            <p>{{adicional.nome}}</p>
                            <p *ngIf="adicional.descricao"> {{'DESCRICAO' | translate}}: {{adicional.descricao}}</p>
                            <p>{{adicional.preco | currency: 'BRL'}}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div>
                    <hr>
                    {{'VALORES_SERVICOS_POR_ANIMAL' | translate}}:
                    <mat-card *ngFor="let preco of precoPorTipo">
                        <mat-card-content>
                            <p>{{'ANIMAL' | translate}}: {{preco.tipoAnimal.nome}}</p>
                            <p>{{'VALOR_SERVICO' | translate}}: {{preco.preco | currency: 'BRL'}}</p>
                        </mat-card-content>
                    </mat-card>
                    <hr>
                </div>
               
                <p>{{'VALOR_TOTAL' | translate}}: <span class="preco-final">{{getValorTotal() | currency: 'BRL'}}</span></p>

            </mat-card-content>
        </mat-card>

    </div>
</div>
