<h1 class="mat-display-1 nome-cliente">Nome cliente</h1>
<mat-list>
    <mat-list-item>
        <div class="animal-item">
            <span>Nome animal</span> 
            <div class="btn-operacoes">
                <button>Editar</button>
                <button>Remover</button>
            </div>
        </div>
    </mat-list-item>
</mat-list>

<div>
    <input type="text" placeholder="Nome pet"/>
    <select>
        <option>Cachorro</option>
        <option>Gato</option>
        <option>Ave</option>
        <option>Réptil</option>
    </select>
    <input type="file" name="" id="" placeholder="Foto do animal">
</div>