<section *ngIf="exibeFormulario">
  <h3 class="page-section-title">{{'ADD_SERVICO_FORM' | translate}}</h3>

  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form" >
    
    <div class = "form-group">
      <mat-form-field appearance="fill">
        <mat-label>{{'TIPO_SERVICO' | translate}}</mat-label>
        <mat-select name="tipo_servico" class="form__servico-tipo" [(ngModel)]="servico.tipo"
        required>
<section [hidden]="!exibeFormulario">
  <h3 class="page-section-title">{{'ADD_SERVICO_FORM' | translate}}</h3>
  <!-- <form class="form"> -->
  <div class="form">
    <div class="form__servico">
      <mat-form-field class="invisible">
        <input matInput [(ngModel)]="servico.id" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="form__input-tipo">
        <mat-label>{{'TIPO_SERVICO' | translate}}</mat-label>
        <mat-select [(ngModel)]="servico.tipo" class="form__animal-tipo">
          <mat-option *ngFor="let tipo of getTiposServico()" [value]="tipo">
            {{tipo.nome | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <section>
      <input type="checkbox" (change)="toggleCheckBoxGato()" />{{servico.precoPorTipo[0].tipoAnimal.nome | translate}}

      <mat-form-field *ngIf="gato_checked" appearance="fill">
        <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
        <input matInput [(ngModel)]="servico.precoPorTipo[0].preco" 
           class="form__servico-valor" mask='separator.2'
          [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ "
          [errorStateMatcher]="matcher" [ngModelOptions]="{standalone: true}"/>
      </mat-form-field>
    </section>



  <div>
      <input type="checkbox" (change)="toggleCheckBoxCachorro()" />{{servico.precoPorTipo[1].tipoAnimal.nome | translate}}
      <div class="cachorro_preco" *ngIf="cachorro_checked">
        
        <div class="grid-container">
          <div class="item logo">{{'PORTE' | translate}}</div>
          <div class="item nav">{{'PELAGEM' | translate}}</div>

          <div class="titulo_pelagem"><label> </label> </div>
          <div class="titulo_pelagemCurta"><label> {{'CURTA' | translate}} </label> </div>
          <div class="titulo_pelagemMedia"><label> {{'MEDIA' | translate}} </label> </div>
          <div class="titulo_pelagemLonga"><label> {{'LONGA' | translate}} </label> </div>

          <div class="titulo_porteP">
            <label> {{'PEQUENO' | translate}} </label>
          </div>
          <div class="porteP_pelagemCurta">
            <mat-form-field appearance="fill">
              <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
              <input matInput [(ngModel)]="servico.precoPorTipo[1].preco"  class="form__servico-valor"
                mask='separator.2' [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ "
                [errorStateMatcher]="matcher" name="porteP_pelagemCurta" [ngModelOptions]="{standalone: true}"/>
            </mat-form-field>
          </div>
          <div class="porteP_pelagemMedia">
            <mat-form-field appearance="fill">
              <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
              <input matInput [(ngModel)]="servico.precoPorTipo[2].preco" class="form__servico-valor"
                mask='separator.2' [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ "
                [errorStateMatcher]="matcher" name="porteP_pelagemMedia" [ngModelOptions]="{standalone: true}"/>
            </mat-form-field>
          </div>
          <div class="item8">
            <mat-form-field appearance="fill">
              <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
              <input matInput [(ngModel)]="servico.precoPorTipo[3].preco" class="form__servico-valor"
                mask='separator.2' [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ "
                [errorStateMatcher]="matcher" name="porteP_pelagemLonga" [ngModelOptions]="{standalone: true}"/>
            </mat-form-field>
          </div>

          <div class="titulo_porteM">
            <label> {{'MEDIO' | translate}} </label>
          </div>
          <div class="porteM_pelagemCurta">
            <mat-form-field appearance="fill">
              <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
              <input matInput [(ngModel)]="servico.precoPorTipo[4].preco" class="form__servico-valor"
                mask='separator.2' [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ "
                [errorStateMatcher]="matcher" name="porteM_pelagemCurta" [ngModelOptions]="{standalone: true}"/>
            </mat-form-field>
          </div>
          <div class="porteM_pelagemMedia">
            <mat-form-field appearance="fill">
              <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
              <input matInput [(ngModel)]="servico.precoPorTipo[5].preco" class="form__servico-valor"
                mask='separator.2' [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ "
                [errorStateMatcher]="matcher" name="porteM_pelagemMedia" [ngModelOptions]="{standalone: true}"/>
            </mat-form-field>
          </div>
          <div class="porteM_pelagemLonga">
            <mat-form-field appearance="fill">
              <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
              <input matInput [(ngModel)]="servico.precoPorTipo[6].preco" class="form__servico-valor"
                mask='separator.2' [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ "
                [errorStateMatcher]="matcher" name="porteM_pelagemLonga" [ngModelOptions]="{standalone: true}"/>
            </mat-form-field>
          </div>


          <div class="titulo_porteG">
            <label> {{'GRANDE' | translate}} </label>
          </div>
          <div class="porteG_pelagemCurta">
            <mat-form-field appearance="fill">
              <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
              <input matInput [(ngModel)]="servico.precoPorTipo[7].preco"  class="form__servico-valor"
                mask='separator.2' [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ "
                [errorStateMatcher]="matcher" name="porteG_pelagemCurta" [ngModelOptions]="{standalone: true}"/>
            </mat-form-field>
          </div>

          <div class="porteG_pelagemMedia">
            <mat-form-field appearance="fill">
              <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
              <input matInput [(ngModel)]="servico.precoPorTipo[8].preco" class="form__servico-valor"
                mask='separator.2' [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ "
                [errorStateMatcher]="matcher" name="porteG_pelagemMedia" [ngModelOptions]="{standalone: true}"/>
            </mat-form-field>
          </div>
          <div class="porteG_pelagemLonga">
            <mat-form-field appearance="fill">
              <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
              <input matInput [(ngModel)]="servico.precoPorTipo[9].preco" class="form__servico-valor"
                mask='separator.2' [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ "
                [errorStateMatcher]="matcher" name="porteG_pelagemLonga" [ngModelOptions]="{standalone: true}"/>
            </mat-form-field>
          </div>
        </div>

        <!-- @Media -------------------------------------------------------------------->

        <div class="grid-sm">
          <div class="item logo"></div>
          <div class="item nav">{{'PELAGEM' | translate}} {{'CURTA' | translate}}</div>
          <div class="grid-container-sm">
            <div class="titulo_porteP">
              <label>{{'PORTE' | translate}} {{'PEQUENO' | translate}}</label>
            </div>
            <div class="porteP_pelagemCurta">
              <mat-form-field appearance="fill">
                <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
                <input matInput [(ngModel)]="servico.precoPorTipo[1].preco" class="form__servico-valor" mask='separator.2'
                  [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ " 
                  [errorStateMatcher]="matcher" name="porteP_pelagemCurta" [ngModelOptions]="{standalone: true}"/>
              </mat-form-field>
            </div>
            <div class="titulo_porteM">
              <label>{{'PORTE' | translate}} {{'MEDIO' | translate}}</label>
            </div>
            <div class="porteM_pelagemCurta">
              <mat-form-field appearance="fill">
                <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
                <input matInput [(ngModel)]="servico.precoPorTipo[4].preco" class="form__servico-valor" mask='separator.2'
                  [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ " 
                  [errorStateMatcher]="matcher" name="porteM_pelagemCurta" [ngModelOptions]="{standalone: true}"/>
              </mat-form-field>
            </div>
            <div class="titulo_porteG">
              <label>{{'PORTE' | translate}} {{'GRANDE' | translate}}</label>
            </div>
            <div class="porteG_pelagemCurta">
              <mat-form-field appearance="fill">
                <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
                <input matInput [(ngModel)]="servico.precoPorTipo[7].preco" class="form__servico-valor" mask='separator.2'
                  [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ " 
                  [errorStateMatcher]="matcher" name="porteG_pelagemCurta" [ngModelOptions]="{standalone: true}"/>
              </mat-form-field>
            </div>
          </div>
      

          <div class="item logo"></div>
          <div class="item nav">{{'PELAGEM' | translate}} {{'MEDIA' | translate}}</div>
          <div class="grid-container-sm">
            <div class="titulo_porteP">
              <label>{{'PORTE' | translate}} {{'PEQUENO' | translate}}</label>
            </div>
            <div class="porteP_pelagemMedia">
              <mat-form-field appearance="fill">
                <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
                <input matInput [(ngModel)]="servico.precoPorTipo[2].preco" class="form__servico-valor" mask='separator.2'
                  [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ " 
                  [errorStateMatcher]="matcher" name="porteP_pelagemMedia" [ngModelOptions]="{standalone: true}"/>
              </mat-form-field>
            </div>
            <div class="titulo_porteM">
              <label>{{'PORTE' | translate}} {{'MEDIO' | translate}}</label>
            </div>
            <div class="porteM_pelagemMedia">
              <mat-form-field appearance="fill">
                <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
                <input matInput [(ngModel)]="servico.precoPorTipo[5].preco" class="form__servico-valor" mask='separator.2'
                  [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ " 
                  [errorStateMatcher]="matcher" name="porteM_pelagemMedia" [ngModelOptions]="{standalone: true}"/>
              </mat-form-field>
            </div>
            <div class="titulo_porteG">
              <label>{{'PORTE' | translate}} {{'GRANDE' | translate}}</label>
            </div>
            <div class="porteG_pelagemMedia">
              <mat-form-field appearance="fill">
                <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
                <input matInput [(ngModel)]="servico.precoPorTipo[8].preco" class="form__servico-valor" mask='separator.2'
                  [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ " 
                  [errorStateMatcher]="matcher" name="porteG_pelagemMedia" [ngModelOptions]="{standalone: true}"/>
              </mat-form-field>
            </div>
          </div>
      
      
          <div class="item logo"></div>
          <div class="item nav">{{'PELAGEM' | translate}} {{'LONGA' | translate}}</div>
          <div class="grid-container-sm">
            <div class="titulo_porteP">
              <label>{{'PORTE' | translate}} {{'PEQUENO' | translate}}</label>
            </div>
            <div class="porteP_pelagemLonga">
              <mat-form-field appearance="fill">
                <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
                <input matInput [(ngModel)]="servico.precoPorTipo[3].preco" class="form__servico-valor" mask='separator.2'
                  [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ " 
                  [errorStateMatcher]="matcher" name="porteP_pelagemLonga" [ngModelOptions]="{standalone: true}"/>
              </mat-form-field>
            </div>
            <div class="titulo_porteM">
              <label>{{'PORTE' | translate}} {{'MEDIO' | translate}}</label>
            </div>
            <div class="porteM_pelagemLonga">
              <mat-form-field appearance="fill">
                <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
                <input matInput [(ngModel)]="servico.precoPorTipo[6].preco" class="form__servico-valor" mask='separator.2'
                  [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ " 
                  [errorStateMatcher]="matcher" name="porteM_pelagemLonga" [ngModelOptions]="{standalone: true}"/>
              </mat-form-field>
            </div>
            <div class="titulo_porteG">
              <label>{{'PORTE' | translate}} {{'GRANDE' | translate}}</label>
            </div>
            <div class="porteG_pelagemLonga">
              <mat-form-field appearance="fill">
                <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
                <input matInput [(ngModel)]="servico.precoPorTipo[9].preco" class="form__servico-valor" mask='separator.2'
                  [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ " 
                  [errorStateMatcher]="matcher" name="porteG_pelagemLonga" [ngModelOptions]="{standalone: true}"/>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="form__button-container">
      <button mat-flat-button color="primary" type = "submit" [disabled]="!f.valid">{{'SALVAR' | translate}}</button>
      <button mat-stroked-button color="warn" (click)="cancelarOperacao()">{{'CANCELAR'|translate}}</button>
    </div>

  </div>
</form>
</section>
      <mat-form-field class="form__input-preco">
        <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
        <input matInput [(ngModel)]="servico.preco" placeholder="22,00" class="form__animal-nome" mask='separator.2'
          [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ " [formControl]="precoFormControl"
          [errorStateMatcher]="matcher" />
        <mat-error *ngIf="precoFormControl.hasError('required')">
          {{'CAMPO_OBRIGATORIO' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form__adicionais">
      <ng-template #adicionais></ng-template>
    </div>
    <div class="form__button-container">
      <button mat-stroked-button (click)="addAdicionalComponent()">
        {{'ADICIONAL' | translate}}
      </button>
      <button mat-stroked-button color="primary" (click)="insereServico()"
        [disabled]="hasErrors()">{{'SALVAR' | translate}}</button>
      <button mat-stroked-button color="warn" (click)="cancelarOperacao()">{{'CANCELAR'|translate}}</button>
    </div>
  </div>
  <!-- </form> -->
  <!-- <input type="file" name="" id="" placeholder="Foto do animal"> -->
</section>
