@import "../../../global.scss";

.form {
  display: flex;
  flex-flow: column;
  width: 80%;
  margin: 0 auto;

  &__servico {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 40%;
  }

  &__button-container {
    width: 35%;
    display: flex;
    justify-content: space-between;
  }
}

.invisible {
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
  position: absolute;
}

.page-section-title {
  margin: 15px;
}
