<section *ngIf="exibeFormulario">
  <h3 class="page-section-title">{{'ADD_SERVICO_FORM' | translate}}</h3>

  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form" >
    
    <div class = "form-group">
      <mat-form-field appearance="fill">
        <mat-label>{{'TIPO_SERVICO' | translate}}</mat-label>
        <mat-select name="tipo_servico" class="form__servico-tipo" [(ngModel)]="servico.tipo"
        required>
          <mat-option *ngFor="let tipo of getTiposServico()" [value]="tipo">
            {{tipo.nome | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>




    <section>
      <input type="checkbox" (change)="toggleCheckBoxGato()" />{{servico.precoPorTipo[0].tipoAnimal.nome | translate}}

      <mat-form-field *ngIf="gato_checked" appearance="fill">
        <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
        <input matInput [(ngModel)]="servico.precoPorTipo[0].preco" 
          placeholder="22,00" class="form__servico-valor" mask='separator.2'
          [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ "
          [errorStateMatcher]="matcher" [ngModelOptions]="{standalone: true}"/>
      </mat-form-field>
    </section>


  <div>
      <input type="checkbox" (change)="toggleCheckBoxCachorro()" />{{servico.precoPorTipo[1].tipoAnimal.nome | translate}}
      <div class="cachorro_preco" *ngIf="cachorro_checked">
        
        <div class="grid-container">
          <div class="titulo_pelagem"><label> PELAGEM </label> </div>
          <div class="titulo_pelagemCurta"><label> CURTA </label> </div>
          <div class="titulo_pelagemMedia"><label> MÉDIA </label> </div>
          <div class="titulo_pelagemLonga"><label> LONGA </label> </div>

          <div class="titulo_porteP">
            <label> PORTE PEQUENO </label>
          </div>
          <div class="porteP_pelagemCurta">
            <mat-form-field appearance="fill">
              <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
              <input matInput [(ngModel)]="servico.precoPorTipo[1].preco" placeholder="22,00" class="form__servico-valor"
                mask='separator.2' [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ "
                [errorStateMatcher]="matcher" name="porteP_pelagemCurta"/>
            </mat-form-field>
          </div>
          <div class="porteP_pelagemMedia">
            <mat-form-field appearance="fill">
              <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
              <input matInput [(ngModel)]="servico.precoPorTipo[2].preco" placeholder="22,00" class="form__servico-valor"
                mask='separator.2' [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ "
                [errorStateMatcher]="matcher" name="porteP_pelagemMedia"/>
            </mat-form-field>
          </div>
          <div class="item8">
            <mat-form-field appearance="fill">
              <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
              <input matInput [(ngModel)]="servico.precoPorTipo[3].preco" placeholder="22,00" class="form__servico-valor"
                mask='separator.2' [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ "
                [errorStateMatcher]="matcher" name="porteP_pelagemLonga"/>
            </mat-form-field>
          </div>

          <div class="titulo_porteM">
            <label> PORTE MÉDIO </label>
          </div>
          <div class="porteM_pelagemCurta">
            <mat-form-field appearance="fill">
              <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
              <input matInput [(ngModel)]="servico.precoPorTipo[4].preco" placeholder="22,00" class="form__servico-valor"
                mask='separator.2' [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ "
                [errorStateMatcher]="matcher" name="porteM_pelagemCurta"/>
            </mat-form-field>
          </div>
          <div class="porteM_pelagemMedia">
            <mat-form-field appearance="fill">
              <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
              <input matInput [(ngModel)]="servico.precoPorTipo[5].preco" placeholder="22,00" class="form__servico-valor"
                mask='separator.2' [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ "
                [errorStateMatcher]="matcher" name="porteM_pelagemMedia"/>
            </mat-form-field>
          </div>
          <div class="porteM_pelagemLonga">
            <mat-form-field appearance="fill">
              <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
              <input matInput [(ngModel)]="servico.precoPorTipo[6].preco" placeholder="22,00" class="form__servico-valor"
                mask='separator.2' [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ "
                [errorStateMatcher]="matcher" name="porteM_pelagemLonga"/>
            </mat-form-field>
          </div>


          <div class="titulo_porteG">
            <label> PORTE GRANDE </label>
          </div>
          <div class="porteG_pelagemCurta">
            <mat-form-field appearance="fill">
              <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
              <input matInput [(ngModel)]="servico.precoPorTipo[7].preco" placeholder="22,00" class="form__servico-valor"
                mask='separator.2' [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ "
                [errorStateMatcher]="matcher" name="porteG_pelagemCurta"/>
            </mat-form-field>
          </div>

          <div class="porteG_pelagemMedia">
            <mat-form-field appearance="fill">
              <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
              <input matInput [(ngModel)]="servico.precoPorTipo[8].preco" placeholder="22,00" class="form__servico-valor"
                mask='separator.2' [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ "
                [errorStateMatcher]="matcher" name="porteG_pelagemMedia"/>
            </mat-form-field>
          </div>
          <div class="porteG_pelagemLonga">
            <mat-form-field appearance="fill">
              <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
              <input matInput [(ngModel)]="servico.precoPorTipo[9].preco" placeholder="22,00" class="form__servico-valor"
                mask='separator.2' [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ "
                [errorStateMatcher]="matcher" name="porteG_pelagemLonga"/>
            </mat-form-field>
          </div>
        </div>

        <!-- @Media -------------------------------------------------------------------->

        <div class="grid-sm">
          <div class="titulo_pelagemCurta">
            <p>PELAGEM CURTA</p>
          </div>
          <div class="grid-container-sm">
            <div class="titulo_porteP">
              <label> PORTE PEQUENO </label>
            </div>
            <div class="porteP_pelagemCurta">
              <mat-form-field appearance="fill">
                <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
                <input matInput [(ngModel)]="servico.precoPorTipo[1].preco" placeholder="22,00" class="form__servico-valor" mask='separator.2'
                  [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ " 
                  [errorStateMatcher]="matcher" name="porteP_pelagemCurta"/>
              </mat-form-field>
            </div>
            <div class="titulo_porteM">
              <label> PORTE MÉDIO </label>
            </div>
            <div class="porteM_pelagemCurta">
              <mat-form-field appearance="fill">
                <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
                <input matInput [(ngModel)]="servico.precoPorTipo[4].preco" placeholder="22,00" class="form__servico-valor" mask='separator.2'
                  [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ " 
                  [errorStateMatcher]="matcher" name="porteM_pelagemCurta"/>
              </mat-form-field>
            </div>
            <div class="titulo_porteG">
              <label> PORTE GRANDE </label>
            </div>
            <div class="porteG_pelagemCurta">
              <mat-form-field appearance="fill">
                <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
                <input matInput [(ngModel)]="servico.precoPorTipo[7].preco" placeholder="22,00" class="form__servico-valor" mask='separator.2'
                  [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ " 
                  [errorStateMatcher]="matcher" name="porteG_pelagemCurta"/>
              </mat-form-field>
            </div>
          </div>
      
          <p>PELAGEM MEDIA</p>
          <div class="grid-container-sm">
            <div class="titulo_porteP">
              <label> PORTE PEQUENO </label>
            </div>
            <div class="porteP_pelagemMedia">
              <mat-form-field appearance="fill">
                <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
                <input matInput [(ngModel)]="servico.precoPorTipo[2].preco" placeholder="22,00" class="form__servico-valor" mask='separator.2'
                  [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ " 
                  [errorStateMatcher]="matcher" name="porteP_pelagemMedia"/>
              </mat-form-field>
            </div>
            <div class="titulo_porteM">
              <label> PORTE MÉDIO </label>
            </div>
            <div class="porteM_pelagemMedia">
              <mat-form-field appearance="fill">
                <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
                <input matInput [(ngModel)]="servico.precoPorTipo[5].preco" placeholder="22,00" class="form__servico-valor" mask='separator.2'
                  [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ " 
                  [errorStateMatcher]="matcher" name="porteM_pelagemMedia"/>
              </mat-form-field>
            </div>
            <div class="titulo_porteG">
              <label> PORTE GRANDE </label>
            </div>
            <div class="porteG_pelagemMedia">
              <mat-form-field appearance="fill">
                <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
                <input matInput [(ngModel)]="servico.precoPorTipo[8].preco" placeholder="22,00" class="form__servico-valor" mask='separator.2'
                  [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ " 
                  [errorStateMatcher]="matcher" name="porteG_pelagemMedia"/>
              </mat-form-field>
            </div>
          </div>
      
          <p>PELAGEM LONGA</p>
          <div class="grid-container-sm">
            <div class="titulo_porteP">
              <label> PORTE PEQUENO </label>
            </div>
            <div class="porteP_pelagemLonga">
              <mat-form-field appearance="fill">
                <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
                <input matInput [(ngModel)]="servico.precoPorTipo[3].preco" placeholder="22,00" class="form__servico-valor" mask='separator.2'
                  [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ " 
                  [errorStateMatcher]="matcher" name="porteP_pelagemLonga"/>
              </mat-form-field>
            </div>
            <div class="titulo_porteM">
              <label> PORTE MÉDIO </label>
            </div>
            <div class="porteM_pelagemLonga">
              <mat-form-field appearance="fill">
                <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
                <input matInput [(ngModel)]="servico.precoPorTipo[6].preco" placeholder="22,00" class="form__servico-valor" mask='separator.2'
                  [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ " 
                  [errorStateMatcher]="matcher" name="porteM_pelagemLonga"/>
              </mat-form-field>
            </div>
            <div class="titulo_porteG">
              <label> PORTE GRANDE </label>
            </div>
            <div class="porteG_pelagemLonga">
              <mat-form-field appearance="fill">
                <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
                <input matInput [(ngModel)]="servico.precoPorTipo[9].preco" placeholder="22,00" class="form__servico-valor" mask='separator.2'
                  [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ " 
                  [errorStateMatcher]="matcher" name="porteG_pelagemLonga"/>
              </mat-form-field>
            </div>
          </div>
        </div>


      </div>
    </div>


    <div class="form__button-container">
      <button mat-flat-button color="primary" type = "submit" [disabled]="!f.valid">{{'SALVAR' | translate}}</button>
      <button mat-stroked-button color="warn" (click)="cancelarOperacao()">{{'CANCELAR'|translate}}</button>
    </div>

  </div>
</form>
</section>
