@import "../../../global.scss";

.form {
  // display: flex;
  // flex-flow: row wrap;
  // justify-content: space-around;
  width: 80%;

  @media screen and (max-width: $tablet-width) {
    justify-content: center;
    width: 100%;
  }

  &__button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;

    @media screen and (max-width: $tablet-width) {
      display: flex;
      justify-content: center;
    }
  }
}

.invisible {
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
}

.page-section-title {
  margin: 15px;
}

.grid-container {
  grid-template-areas:
  "logo nav nav nav";
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center
}

.grid-sm {
  display: none;
}
 

/* Grid */
.grid {
	display: grid;
}

.logo {
  grid-area: logo;
  font-weight: bold;
}

.nav {
  grid-area: nav;
  font-weight: bold;
}


/* Grid Item */
.item {
	margin: 5px;
	text-align: center;
	font-size: 1.2em;
}

.grid {
	max-width: 400px;
	margin: 0 auto;
	border: 1px solid #ccc;
}


@media screen and (max-width: $tablet-width) {
  .grid-container {
    grid-template-areas:
    "logo nav";
    display: none;
  }
    
  .grid-sm {
    display: block;
  }
  .grid-container-sm {
    display: grid;
    grid-template-columns: auto auto;
  }

  /* Grid */
  .grid {
    display: grid;
  }

  .logo {
    grid-area: logo;
    font-weight: bold;

  }

  .nav {
    grid-area: nav;
    font-weight: bold;
  }


  /* Grid Item */
  .item {
    margin: 5px;
    text-align: center;
    font-size: 1.2em;
  }

  .grid {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
  }


}