<section *ngIf="exibeFormulario">
  <h3 class="page-section-title">{{'ADD_SERVICO_FORM' | translate}}</h3>
  <!-- <form class="form"> -->
  <div class="form">
    <mat-form-field class="invisible">
      <input matInput [(ngModel)]="servico.id" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{'TIPO_SERVICO' | translate}}</mat-label>
      <mat-select [(ngModel)]="servico.tipo" class="form__servico-tipo">
        <mat-option *ngFor="let tipo of getTiposServico()" [value]="tipo">
          {{tipo.nome | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>




    <!-- <mat-form-field appearance="fill">
            <mat-label>{{'TIPO_ANIMAL' | translate}}</mat-label>
            <mat-select [(ngModel)]="servico.animaisAceitos" [value]="servico.animaisAceitos" class="form_animais-aceitos">
              <mat-option *ngFor="let animaisAceitos of animaisAceitosVetor" [value]="animaisAceitos">
                  {{animaisAceitos.nome | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->


    <div>
      <input type="checkbox" (change)="toggleCheckBoxGato()" />{{'GATO' | translate}}

      <mat-form-field *ngIf="gato_checked" appearance="fill">
        <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
        <input matInput [(ngModel)]="servico.preco" placeholder="22,00" class="form__servico-valor" mask='separator.2'
          [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ " [formControl]="precoFormControl"
          [errorStateMatcher]="matcher" />
        <mat-error *ngIf="precoFormControl.hasError('required')">
          {{'CAMPO_OBRIGATORIO' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <!-- 

          <div class ="grid-template-columns">
            <label> PELAGEM </label> 
            <label> CURTA </label> 
            <label> MÉDIA </label> 
            <label> LONGA </label>
          </div> -->


    <div>
      <input type="checkbox" (change)="toggleCheckBoxCachorro()" />{{'CACHORRO' | translate}}
      <div class="cachorro_preco" *ngIf="cachorro_checked">
        <div><label> PELAGEM </label> <label> CURTA </label> <label> MÉDIA </label> <label> LONGA </label>
        </div>
        <div>
          <label> PEQUENO </label>
          <mat-form-field appearance="fill">
            <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
            <input matInput [(ngModel)]="servico.preco" placeholder="22,00" class="form__servico-valor"
              mask='separator.2' [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ "
              [formControl]="precoFormControl" [errorStateMatcher]="matcher" />
            <mat-error *ngIf="precoFormControl.hasError('required')">
              {{'CAMPO_OBRIGATORIO' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
            <input matInput [(ngModel)]="servico.preco" placeholder="22,00" class="form__servico-valor"
              mask='separator.2' [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ "
              [formControl]="precoFormControl" [errorStateMatcher]="matcher" />
            <mat-error *ngIf="precoFormControl.hasError('required')">
              {{'CAMPO_OBRIGATORIO' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
            <input matInput [(ngModel)]="servico.preco" placeholder="22,00" class="form__servico-valor"
              mask='separator.2' [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ "
              [formControl]="precoFormControl" [errorStateMatcher]="matcher" />
            <mat-error *ngIf="precoFormControl.hasError('required')">
              {{'CAMPO_OBRIGATORIO' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <label> MÉDIO </label>
          <mat-form-field appearance="fill">
            <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
            <input matInput [(ngModel)]="servico.preco" placeholder="22,00" class="form__servico-valor"
              mask='separator.2' [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ "
              [formControl]="precoFormControl" [errorStateMatcher]="matcher" />
            <mat-error *ngIf="precoFormControl.hasError('required')">
              {{'CAMPO_OBRIGATORIO' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
            <input matInput [(ngModel)]="servico.preco" placeholder="22,00" class="form__servico-valor"
              mask='separator.2' [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ "
              [formControl]="precoFormControl" [errorStateMatcher]="matcher" />
            <mat-error *ngIf="precoFormControl.hasError('required')">
              {{'CAMPO_OBRIGATORIO' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
            <input matInput [(ngModel)]="servico.preco" placeholder="22,00" class="form__servico-valor"
              mask='separator.2' [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ "
              [formControl]="precoFormControl" [errorStateMatcher]="matcher" />
            <mat-error *ngIf="precoFormControl.hasError('required')">
              {{'CAMPO_OBRIGATORIO' | translate}}
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <label> GRANDE </label>
          <mat-form-field appearance="fill">
            <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
            <input matInput [(ngModel)]="servico.preco" placeholder="22,00" class="form__servico-valor"
              mask='separator.2' [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ "
              [formControl]="precoFormControl" [errorStateMatcher]="matcher" />
            <mat-error *ngIf="precoFormControl.hasError('required')">
              {{'CAMPO_OBRIGATORIO' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
            <input matInput [(ngModel)]="servico.preco" placeholder="22,00" class="form__servico-valor"
              mask='separator.2' [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ "
              [formControl]="precoFormControl" [errorStateMatcher]="matcher" />
            <mat-error *ngIf="precoFormControl.hasError('required')">
              {{'CAMPO_OBRIGATORIO' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{'VALOR_SERVICO' | translate}}</mat-label>
            <input matInput [(ngModel)]="servico.preco" placeholder="22,00" class="form__servico-valor"
              mask='separator.2' [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ "
              [formControl]="precoFormControl" [errorStateMatcher]="matcher" />
            <mat-error *ngIf="precoFormControl.hasError('required')">
              {{'CAMPO_OBRIGATORIO' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>



    <div class="form__button-container">
      <button mat-flat-button color="primary" (click)="insereServico()"
        [disabled]="hasErrors()">{{'SALVAR' | translate}}</button>
      <button mat-stroked-button color="warn" (click)="cancelarOperacao()">{{'CANCELAR'|translate}}</button>
    </div>
  </div>
  <!-- </form> -->
  <!-- <input type="file" name="" id="" placeholder="Foto do animal"> -->
</section>
