<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputNome">Nome Completo</label>
      <input type="text" class="form-control" id="inputNome" placeholder="Nome Completo" required [(ngModel)]="prestador.nome" name="nome">
      <div *ngIf="!nome.pristine && nome.errors">   <!-- Gera mensagem de erro -->
        <p *ngIf="nome.errors.required">
          Nome é obrigatório.
        </p>
        <p *ngIf="nome.errors.minlength">
          Nome deve ter no mínimo 3 caracters.
        </p>
        <p *ngIf="nome.errors.maxlength">
          Nome deve ter no máximo 100 caracters.
        </p>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="inputNomeSocial">Como gostaria de ser chamado </label>
      <input type="text" class="form-control" id="inputNomeSocial" placeholder="Nome Social" required [(ngModel)]="prestador.nomeSocial" name="nomeSocial">
    </div>
    <div class="form-group col-md-6">
      <label for="inputTelefone">Telefone</label>
      <input type="text" class="form-control" id="inputTelefone" placeholder="(11) 99999-9999" required [(ngModel)]="prestador.telefone" name="telefone">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail">Email</label>
      <input type="text" class="form-control" id="inputEmail" placeholder="petshow@gmail.com" required [(ngModel)]="prestador.login.email" name="email">
      <div *ngIf="!email.pristine && email.errors">   <!-- Gera mensagem de erro -->
        <p *ngIf="email.errors.email">
          Digite um e-mail válido.
        </p>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputSenha">Senha</label>
      <input type="password" class="form-control" formControlName="senha" id="inputPassword" required [(ngModel)]="prestador.login.senha" name="senha">
    </div>
  </div>
  <!-- VERIFICAR REGRA DE VERIFICACAO SENHA-->
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputConfirmarSenha">Repita a senha</label>
      <input type="password" class="form-control" formControlName="confirmarSenha" id="inputPassword2" required [(ngModel)]="prestador.login.senha" name="senha">
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="opcao1" required [(ngModel)]="prestador.tipo" name="tipo">
        <label class="form-check-label" for="exampleRadios1">
          Sou Empresa
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="opcao2" checked required [(ngModel)]="prestador.tipo" name="tipo">
        <label class="form-check-label" for="exampleRadios2">
          Sou autômono
        </label>

        <div class="form-group">
          <label for="exampleFormControlTextarea1">Exemplo de texto </label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required [(ngModel)]="prestador.descricao" name="descricao"></textarea>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-3">
      <div class="form-group">
        <button type="button" class="btn btn-outline-primary">Adicionar Foto</button>
        <br>
        <img src="..." class="img-fluid" alt="Responsive image">
      </div>
    </div> -->
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <h1>Endereço</h1>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Logradouro</label>
      <input type="text" class="form-control" id="inputCity" required [(ngModel)]="prestador.endereco.logradouro" name="logradouro">
    </div>
    <div class="form-group col-md-2">
      <label for="inputCity">Numero</label>
      <input type="text" class="form-control" id="inputCity" required [(ngModel)]="prestador.endereco.numero" name="numero">
    </div>
    <div class="form-group col-md-4">
      <label for="inputCity">Complemento</label>
      <input type="text" class="form-control" id="inputCity" required [(ngModel)]="prestador.endereco.complemento" name="complemento">
    </div>
  </div>
  <div class="form-row">
  <div class="form-group col-md-6">
    <label for="inputCEP">Bairro</label>
    <input type="text" class="form-control" id="inputCEP" required [(ngModel)]="prestador.endereco.bairro" name="bairro">
  </div>
  <div class="form-group col-md-3">
    <label for="inputCEP">CEP</label>
    <input type="text" class="form-control" id="inputCEP" required [(ngModel)]="prestador.endereco.cep" name="cep">
  </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Cidade</label>
      <input type="text" class="form-control" id="inputCity" required [(ngModel)]="prestador.endereco.cidade" name="cidade">
    </div>
    <div class="form-group col-md-4">
      <label for="inputEstado">Estado</label>
      <select id="inputEstado" class="form-control" required [(ngModel)]="prestador.endereco.estado" name="estado">
        <option selected>Escolher...</option>
        <option>...</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Cartão de Crédio
      </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
        Cartão de Débito
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
        Cartão de Crédito/Débito  diretamente com o cliente
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
        Dinheiro diretamente com o cliente
        </label>
      </div>
  </div>
  <button  [disabled]="!formularioDeUsuario.valid" type="submit" class="btn btn-primary">Cadastrar</button>
 
  <br>
  <br>
  <!-- utilizado para testar oq está acontecendo no código: -->
  <div>{{ formularioDeUsuario.value | json}}</div>
  <div>{{ formularioDeUsuario.valid | json }}</div>
</form>





















  <!-- REMOVER:



<div class="form-row">
  <div class="form-group col-md-6">
    <label for="inputEmail4">Nome Completo</label>
    <input type="text" class="form-control" id="inputEmail4" placeholder="Nome Completo" required
      [(ngModel)]="prestador.nome" name="nome">
  </div>
  <div class="form-group col-md-6">
    <label for="inputPassword4">Como gostaria de ser chamado </label>
    <input type="text" class="form-control" id="inputPassword4" placeholder="Nome Social" required
      [(ngModel)]="prestador.nomeSocial" name="nomeSocial">
  </div>
  <div class="form-group col-md-6">
    <label for="inputAddress">Telefone</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="(11) 99999-9999" required
      [(ngModel)]="prestador.telefone" name="telefone">
  </div>
  <div class="form-group col-md-6">
    <label for="inputAddress2">Email</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="petshow@gmail.com" required
      [(ngModel)]="prestador.login.email" name="email">
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label for="inputAddress2">Senha</label>
    <input type="text" class="form-control" id="inputAddress2" required [(ngModel)]="prestador.login.senha"
      name="senha">
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="inputAddress2">Repita a senha</label>
    <input type="text" class="form-control" id="inputAddress2">
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="opcao1" required
        [(ngModel)]="prestador.tipo" name="tipo">
      <label class="form-check-label" for="exampleRadios1">
        Sou Empresa
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="opcao2" checked
        required [(ngModel)]="prestador.tipo" name="tipo">
      <label class="form-check-label" for="exampleRadios2">
        Sou autômono
      </label>

      <div class="form-group">
        <label for="exampleFormControlTextarea1">Exemplo de texto </label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required
          [(ngModel)]="prestador.descricao" name="descricao"></textarea>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <button type="button" class="btn btn-outline-primary">Adicionar Foto</button>
      <br>
      <img src="..." class="img-fluid" alt="Responsive image">
    </div>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-12">
    <h1>Endereço</h1>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="inputCity">Logradouro</label>
    <input type="text" class="form-control" id="inputCity" required [(ngModel)]="prestador.endereco.logradouro"
      name="logradouro">
  </div>
  <div class="form-group col-md-2">
    <label for="inputCity">Numero</label>
    <input type="text" class="form-control" id="inputCity" required [(ngModel)]="prestador.endereco.numero"
      name="numero">
  </div>
  <div class="form-group col-md-4">
    <label for="inputCity">Complemento</label>
    <input type="text" class="form-control" id="inputCity" required [(ngModel)]="prestador.endereco.complemento"
      name="complemento">
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="inputCEP">Bairro</label>
    <input type="text" class="form-control" id="inputCEP" required [(ngModel)]="prestador.endereco.bairro"
      name="bairro">
  </div>
  <div class="form-group col-md-3">
    <label for="inputCEP">CEP</label>
    <input type="text" class="form-control" id="inputCEP" required [(ngModel)]="prestador.endereco.cep" name="cep">
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label for="inputCity">Cidade</label>
    <input type="text" class="form-control" id="inputCity" required [(ngModel)]="prestador.endereco.cidade"
      name="cidade">
  </div>
  <div class="form-group col-md-4">
    <label for="inputEstado">Estado</label>
    <select id="inputEstado" class="form-control" required [(ngModel)]="prestador.endereco.estado" name="estado">
      <option selected>Escolher...</option>
      <option>...</option>
    </select>
  </div>
</div>
<div class="form-group">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="gridCheck">
    <label class="form-check-label" for="gridCheck">
      Cartão de Crédio
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="gridCheck">
    <label class="form-check-label" for="gridCheck">
      Cartão de Débito
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="gridCheck">
    <label class="form-check-label" for="gridCheck">
      Cartão de Crédito/Débito diretamente com o cliente
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="gridCheck">
    <label class="form-check-label" for="gridCheck">
      Dinheiro diretamente com o cliente
    </label>
  </div>
</div>
<button type="submit" class="btn btn-primary">Cadastrar</button> -->