<app-info-pessoal-cadastro  [usuario]="prestador" 
                            [confirma-senha]="confirmarSenha"
                            [telefone-control]="telefoneFormControl"
                            [cpf-control]="cpfFormControl"
                            [nome-control]="nomeFormControl"
                            [email-control]="emailFormControl"
                            [senha-control]="senhaFormControl"
                            [confirma-senha-control]="confirmaSenhaFormControl"
                            (repete-senha)="repetirSenha($event)"
></app-info-pessoal-cadastro>

<mat-form-field>
  <mat-label>{{'DESC_SERVICO' | translate}}</mat-label>
  <textarea matInput></textarea>
</mat-form-field>

<app-endereco-cadastro [endereco]="prestador.endereco"
[logradouro-control]="logradouroFormControl"
[numero-control]="numeroFormControl"
[complemento-control]="complementoFormControl"
[bairro-control]="bairroFormControl"
[cep-control]="cepFormControl"></app-endereco-cadastro>
<p *ngIf="errorMessage">{{errorMessage | translate}}</p>
<p *ngIf="erroRequisicao">{{erroRequisicao}}</p>
<div class="form__button-container">
  <button mat-flat-button color="primary" [disabled]="hasErrors()" (click)="cadastrarPrestador(prestador)" >{{'CADASTRAR' | translate}}</button>
</div> 