<mat-dialog-content>
  <mat-tab-group>
    <mat-tab label="{{'INFORMACOES_BASICAS' | translate}}">
      <h3>{{'INFORMACOES_BASICAS' | translate}}</h3>
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef>{{'CAMPO' | translate}}</th>
          <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
        </ng-container>
    
        <ng-container matColumnDef="servico1">
          <th mat-header-cell *matHeaderCellDef> {{'SERVICO' | translate}} 1 </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.chave === 'menorPreco'" class="{{element.servico1.melhor ? 'melhor': ''}}"> {{'A_PARTIR_DE' | translate}} {{element.servico1.valor | currency: 'BRL'}}</span>
            <span *ngIf="element.chave === 'tipoAnimal'">
                <mat-icon>{{element.servico1}}</mat-icon>
            </span>
            <span *ngIf="element.chave === 'mediaAvaliacao'" class="{{element.servico1.melhor ? 'melhor': ''}}"> {{element.servico1.valor | number: '1.1'}}</span>
            <span *ngIf="element.chave === 'nome'"> {{element.servico1.valor }}</span></td>
        </ng-container>
    
        <ng-container matColumnDef="servico2">
          <th mat-header-cell *matHeaderCellDef> {{'SERVICO' | translate}} 2 </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.chave === 'menorPreco'" class="{{element.servico2.melhor ? 'melhor': ''}}"> {{'A_PARTIR_DE' | translate}} {{element.servico2.valor | currency: 'BRL'}}</span>
            <span *ngIf="element.chave === 'tipoAnimal'">
              <mat-icon>{{element.servico2}}</mat-icon>
            </span>
            <span *ngIf="element.chave === 'mediaAvaliacao'" class="{{element.servico2.melhor ? 'melhor': ''}}"> {{element.servico2.valor | number: '1.1'}}</span>
            <span *ngIf="element.chave === 'nome'"> {{element.servico2.valor }}</span></td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-tab>
    <mat-tab label="{{'PRECO_TIPO_ANIMAL' | translate}}">
      <div class="lista-precos-servicos">
        <h3>{{'PRECO_TIPO_ANIMAL' | translate}}: </h3>
        <div *ngFor="let servico of data.servicosComparados" class="precos-servico">
            <h4>{{servico.nome | translate}}</h4>
            <mat-list>
                <mat-list-item *ngFor="let preco of servico.tabelaPrecos">
                    <span>{{preco.tipoAnimal.nome}} -</span>
                    <span *ngIf="preco.tipoAnimal.porte"> {{'PORTE' | translate}}: {{preco.tipoAnimal.porte}} - </span>
                    <span *ngIf="preco.tipoAnimal.pelagem">{{'TAM_PELO' | translate}}: {{preco.tipoAnimal.pelagem}} - </span>
                    <span class="preco-destacado">{{preco.preco | currency: 'BRL'}}</span>
                </mat-list-item>
            </mat-list>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="{{'ADICIONAIS' | translate}}">
      <div class="lista-precos-servicos">
        <h3>{{'ADICIONAIS' | translate}}: </h3>
        <div *ngFor="let servico of data.servicosComparados" class="precos-servico">
            <h4>{{servico.nome | translate}}</h4>
            <mat-list *ngIf="servico.adicionais && servico.adicionais.length; else semAdicionais">
                <mat-list-item *ngFor="let adicional of servico.adicionais">
                    <span>{{adicional.nome}} -</span>
                    <span *ngIf="adicional.descricao"> {{'DESC_SERVICO' | translate}}: {{adicional.descricao}} - </span>
                    <span class="preco-destacado">{{adicional.preco | currency: 'BRL'}}</span>
                </mat-list-item>
            </mat-list>

            <ng-template #semAdicionais>
                <p>{{'NENHUM_ADICIONAL' | translate}}</p>
            </ng-template>
        </div>
    </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button color="primary" (click)="onNoClick()">{{'FECHAR' | translate}}</button>
</mat-dialog-actions>