@import '../../../global.scss';


.servico-topo {
    display: flex;
}
.mat-icon{
    font-family: 'Material Icons' !important;
}
.avaliacoes{
    padding:20px 0 0 25px;
    @media screen and (max-width:$tablet-width) {
       padding: 0;
    }
}
.card-avaliacao {
    display: grid;
    grid-template-columns: 280px 1fr;
    border-bottom: 1px solid #e6e6e6;
    align-items: center;
    

    @media screen and (max-width:$tablet-width) {
        grid-template-columns: 1fr;
        justify-items: center;
        
    }

    &__cliente {
        display: grid;
        grid-template-columns: 35px 1fr;
        align-items: center;
        font-family:'Material Icons' !important;
    }
    
    &__nota {
        display: grid;
        grid-template-columns: 25px 1fr;
        align-items: center;
        font-family:'Material Icons' !important;
    }

    &__comentario {
        width: 60%;
    }
}

.botao-formulario {
    margin-top: 40px;
    @media screen and (max-width:$tablet-width) {
        width:100%;
        font-size:90%;
    }
}