@import '../../../global.scss';


.servico-topo {
    display: flex;
}

.card-avaliacao {
    display: grid;
    grid-template-columns: 280px 1fr;
    border-bottom: 1px solid #e6e6e6;
    align-items: center;

    @media screen and (max-width:$tablet-width) {
        grid-template-columns: 1fr;
        justify-items: center;
        
    }

    &__cliente {
        display: grid;
        grid-template-columns: 35px 1fr;
        align-items: center;
    }
    
    &__nota {
        display: grid;
        grid-template-columns: 25px 1fr;
        align-items: center;
    }

    &__comentario {
        width: 60%;
    }
}

.botao-formulario {
    margin-top: 40px;
}