<section>
  <h3 class="page-section-title">{{'AGENDAMENTOS' | translate}}</h3>
  <div class="conteiner-agendamento-list"
    *ngIf="agendamentos && agendamentos.length; then agendamentosBlock else vazioBlock"></div>

  <ng-template #vazioBlock>
    <p class="no_registered">{{'NENHUM_AGENDAMENTO' | translate}}</p>
  </ng-template>

  <ng-template #agendamentosBlock>
    <mat-list class="agendamentos-list">
      <mat-list-item *ngFor="let agendamento of agendamentos">
        <div class="agendamento-list__item">
          <div>
            <span>
              <p> {{ geraTituloPrestador(agendamento.prestador) }} - {{agendamento.servicoDetalhado.tipo.nome | translate}}</p>
              <p>{{agendamento.data}}</p>
              <p>{{'PRECO_FINAL' | translate}}: {{agendamento.precoFinal | currency: 'BRL'}}</p>
            </span>
          </div>
          <div>
            <div *ngIf="agendamento.animaisAtendidos.length > 1; then animaisBlock else animalBlock">
            </div>

            <ng-template #animaisBlock>
              <span>
                <p>{{'ANIMAIS_SEREM_ATENDIDOS' | translate}}: </p>
              </span>
              <ng-container *ngFor="let animal of agendamento.animaisAtendidos">
                <span>
                  <p>{{animal.nome}}</p>
                </span>
              </ng-container>
            </ng-template>

            <ng-template #animalBlock>
              <span>
                <p>{{'ANIMAL_SER_ATENDIDO' | translate}}: {{agendamento.animaisAtendidos[0].nome}}</p>
              </span>
            </ng-template>
            <span>
              <p>{{'STATUS' | translate}}: <span class="{{getStatusClassColor(agendamento)}}">{{agendamento.status.nome | translate}}</span></p>
            </span>
          </div>
          <div class="agendamento-list__buttons">
            <a mat-flat-button color="primary" href="/agendamento/{{agendamento.id}}">
              <!-- <span> -->
                {{'VER_DETALHES' | translate}}
              <!-- </span> -->
            </a>
            <div class="agendamento-list__button-container" *ngIf="isAtivo(agendamento)">
              <button mat-flat-button color="warn"
                (click)="cancelaAgendamento(agendamento)">{{'CANCELAR' | translate}}</button>
            </div>
          </div>

        </div>
      </mat-list-item>
    </mat-list>

    <mat-paginator #paginator 
        [length]="quantidadeTotal"
        [pageIndex]="paginaAtual"
        [pageSize]="quantidadeItens"
        [pageSizeOptions]="[5, 7, 10, 15]"
        (page)="pageEvent = eventoPagina($event)">
    </mat-paginator>
  </ng-template>

</section>
