<div *ngIf="!carregado"><p>{{'CARREGANDO' | translate}}</p></div>

<div *ngIf="carregado && !prestador">
    <p>{{'PRESTADOR_NAO_ENCONTRADO' | translate}}</p>
</div>

<div *ngIf="carregado && prestador">
    <h1 class="topo">{{getTitulo()}} - {{getMediaUsuario()}}<mat-icon>star</mat-icon></h1>
    <hr>
    <h3>{{'SERVICOS_PRESTADOS' | translate}}</h3>
    <div class="servico-lista">
        <mat-card *ngFor="let servico of prestador.servicos" class="servico">
            <mat-card-title>{{servico.tipo.nome | translate}}</mat-card-title>
            <mat-card-subtitle>{{servico.preco | currency: 'BRL'}}</mat-card-subtitle>
            <mat-card-content>
                {{servico.mediaAvaliacao | number: '1.2'}} <mat-icon>star</mat-icon> - <a mat-button href="/prestador/{{prestador.id}}/servico/{{servico.id}}/avaliacao" color="primary">{{'VER_AVALIACOES' | translate}}</a>
            </mat-card-content>
        </mat-card>
    </div>
</div>
