<!--TODO: Colocar checkbox para usar ou não geolocalização na busca-->
<section >
    <div class="topo-listagem">
        <h3 class="page-section-title">{{'SERVICOS_DISPONIVEIS' | translate}}</h3>
    </div>

    <div class="botao_compare_mobile">
        <span class="material-icons">
            <button  mat-button color="primary" (click)="exibeFiltros()">
            <mat-icon>filter_list</mat-icon>
            </button>
        </span>
        <button mat-flat-button color="primary" 
        [disabled]="idsAComparar.length < 2"
        (click)="compararServicos()">{{'COMPARAR_SERVICOS' | translate}}</button>
    </div>

    <div class="grid-content">
        <div class="menu-servicos-not-mobile" *ngIf="isFiltrosVisiveis==true">
            <mat-toolbar>
                <mat-toolbar-row>
                    {{'FILTROS' | translate}}:
                </mat-toolbar-row>
                <mat-toolbar-row>
                    <mat-form-field appearance="fill">
                        <mat-label>{{'ORDENACAO' | translate}}</mat-label>
                        <mat-select (selectionChange)="alteraOrdenacao($event.value)">
                          <mat-option *ngFor="let key of getOrdenacaoKeys()" [value]="key">
                            {{ordenacao[key]}}
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-toolbar-row>
                <mat-divider></mat-divider>
                <mat-toolbar-row>
                    <mat-checkbox (change)="toggleFiltroAdicional()">{{'POSSUI_ADICIONAIS' | translate}}</mat-checkbox>
                </mat-toolbar-row>
                <mat-divider></mat-divider>
                <mat-toolbar-row>
                    <div class="avaliacoes-filtro">
                        <span>{{'MEDIA_AVALIACOES' | translate}}</span>
                        <span>
                            <mat-icon *ngFor="let estrela of getEstrelas(); let i = index" (click)="atualizaMediaAvaliacao(i+1)">
                                {{estrela}}
                            </mat-icon>
                            <button mat-button (click)="resetaAvaliacoes()" *ngIf="mediaAvaliacao > 0"><mat-icon>close</mat-icon></button>
                        </span>
                    </div>
                </mat-toolbar-row>
                <mat-divider></mat-divider>
                <mat-toolbar-row>
                    <mat-form-field>
                        <mat-label>{{'PRECO_MIN' | translate}}</mat-label>
                        <input 
                            matInput 
                            (blur)="blurInputs('menorPreco', menorPreco)"
                            [(ngModel)]="menorPreco"
                            mask='separator.2' 
                            [thousandSeparator]="'.'" 
                            [decimalMarker]="','" 
                            prefix="R$">
                    </mat-form-field>
                </mat-toolbar-row>
                <mat-toolbar-row>
                    <mat-form-field>
                        <mat-label>{{'PRECO_MAX' | translate}}</mat-label>
                        <input 
                            (blur)="blurInputs('maiorPreco', maiorPreco)"
                            matInput 
                            [(ngModel)]="maiorPreco"
                            mask='separator.2' 
                            [thousandSeparator]="'.'" 
                            [decimalMarker]="','" 
                            prefix="R$">
                    </mat-form-field>
                </mat-toolbar-row>
                <mat-divider></mat-divider>
            </mat-toolbar>
        </div>


        
        <div> 
            <div class="conteiner-lista-servicos-detalhados" *ngIf="servicosDetalhados && servicosDetalhados.length; then servicosDetalhadosBlock else vazioBlock"></div>
        </div>
        <div>
            <span>{{'DISTANCIA_MAXIMA' | translate}}</span>
            <mat-slider
                thumbLabel
                [displayWith]="formatLabel"
                min="100"
                max="50000"
                [(ngModel)]="filtro.metrosGeoloc"
                tickInterval="100"
                (change)="alteraValorSlider($event.value)"
            ></mat-slider>
            <app-geolocalizacao
            [filtro]="filtro"
            [isCliente]="isCliente"
            [isAtivo]="isAtivo"
            [isLogado]="isLogado"
            (altera-filtro)="alteraFiltro($event)"
            ></app-geolocalizacao>
        </div>
    </div>    
    
    <ng-template #vazioBlock>
        <p>{{'NENHUM_SERVICO_CADASTRADO' | translate}}</p>
    </ng-template>

    <ng-template #servicosDetalhadosBlock>
        <div>
        <div class="botao_compare">
            <button mat-flat-button color="primary" 
            [disabled]="idsAComparar.length < 2"
            (click)="compararServicos()">{{'COMPARAR_SERVICOS' | translate}}</button>
        </div>
        <mat-list class="lista-servicos-detalhados">
            <mat-list-item *ngFor="let servicoDetalhado of servicosDetalhados">
                <div class="lista-servicos-detalhados__item">
                    <div class="nome-prestador">
                        <a mat-button class="lista-servicos-detalhados__button"  color="primary" href="/prestador/{{servicoDetalhado.prestadorId}}">{{geraTitulo(servicoDetalhado.prestador)}}</a>
                    </div>
                    <span class="preco-servico">{{'A_PARTIR_DE' | translate}}: {{getPrecoMinimo(servicoDetalhado) | currency: 'BRL'}}</span>
                    <span>
                        {{servicoDetalhado.tipo.nome | translate}} 
                        <a mat-button color="primary" href="/prestador/{{servicoDetalhado.prestadorId}}/servico/{{servicoDetalhado.id}}/avaliacao">{{'AVALIACOES' | translate}}</a>
                    </span>  
                    <div class="lista-servicos-detalhados__button-container">
                        <mat-checkbox 
                            [disabled]="deveDesabilitar(servicoDetalhado.id)"
                            [checked]="deveSelecionar(servicoDetalhado.id)"
                            (change)="selecionaIds($event.checked, servicoDetalhado.id)">{{'COMPARAR' | translate}}</mat-checkbox>
                        <a mat-flat-button color="primary" href="prestador/{{servicoDetalhado.prestador.id}}/servicoDetalhado/{{servicoDetalhado.id}}/agendamento?isVisualizacao=false" [disabled]="!isCliente || !isAtivo"
                        matTooltip="{{tooltipText | translate}}"
                        >{{'AGENDAR' | translate}}</a>
                    </div>
                </div>
            </mat-list-item>
        </mat-list>

        <mat-paginator #paginator
            [length]="quantidadeTotal"
            [pageIndex]="paginaAtual"
            [pageSize]="quantidadePagina"
            [pageSizeOptions]="[3, 6, 9, 12]"
            (page)="pageEvent = eventoPagina($event)">
        </mat-paginator>
    </div>
    </ng-template>
    
</section>
