<section>
    <h3 class="page-section-title">{{'SERVICOS_DISPONIVEIS' | translate}}</h3>
    <div class="conteiner-lista-servicos-detalhados" *ngIf="servicosDetalhados; then servicosDetalhadosBlock else vazioBlock"></div>
    
    <ng-template #vazioBlock>
        <p>{{'NENHUM_SERVICO_CADASTRADO' | translate}}</p>
    </ng-template>

    <ng-template #servicosDetalhadosBlock>
        <mat-list class="lista-servicos-detalhados">
            <mat-list-item *ngFor="let servicoDetalhado of servicosDetalhados">
                <div class="lista-servicos-detalhados__item">
                    <div class ="nome_servico">
                        {{servicoDetalhado.tipo.nome}} 
                    </div>
                    <span>{{servicoDetalhado.preco | currency: 'BRL'}}</span>
                    <span><a mat-button color="primary" href="/prestador?idPrestador={{servicoDetalhado.prestadorId}}">{{servicoDetalhado.prestador.nome}}</a>
                        <a mat-button color="primary" href="/avaliacao?servicoAvaliado={{servicoDetalhado.id}}&prestador={{servicoDetalhado.prestador.id}}">{{'AVALIACOES' | translate}}</a>
                    </span>  
                    <div class="lista-servicos-detalhados__button-container">
                        <button mat-flat-button color="accent" >{{'AGENDAR' | translate}}</button>
                        
                    </div>
                </div>
            </mat-list-item>
        </mat-list>

        <mat-paginator #paginator
            [length]="quantidadeTotal"
            [pageIndex]="paginaAtual"
            [pageSize]="quantidadePagina"
            [pageSizeOptions]="[3, 6, 9, 12]"
            (page)="pageEvent = eventoPagina($event)">
        </mat-paginator>
    </ng-template>
</section>
