<strong>{{adicional.nome || 'Adicional'}}</strong>
<div class="adicional-form">
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="adicional.nome" />
</mat-form-field>
<mat-form-field>
    <mat-label>Descrição</mat-label>
    <input matInput [(ngModel)]="adicional.descricao" />
</mat-form-field>
<mat-form-field>
    <mat-label>Preço</mat-label>
    <input matInput [(ngModel)]="adicional.preco"placeholder="22,00" mask='separator.2'
    [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ " />
</mat-form-field>
</div>
