
  <mat-toolbar>
      <span>
        <a href="/"><img src="../assets/icons/Logo.png" height=60 ></a>
        
      </span>
      
      <span class="spacer"></span>
      <span class="menu_not_mobile">

      <span >
        <button mat-button (click)="changeLang()">
          <mat-icon>language</mat-icon>{{'VER_TRADUZIDO' | translate}}
        </button>
      </span>
      
     
      <span  *ngIf="!isLogged" >   
        <a mat-button href="/cadastro" class="menu-item">
          {{'CADASTRO' | translate}}
        </a>

        <a mat-button href="/login{{redirectTo}}" class="menu-item">
          {{'SING_IN' | translate}}
        </a>
      </span>
    
      <span *ngIf="isLogged">
        <a mat-button href="/perfil" class="menu-item">
          {{'PERFIL' | translate}} {{ nome ? " - " + nome : ""  }}
        </a>

        <button mat-button (click)="deslogar()" class="menu-item">
          {{'LOGOUT' | translate}}
        </button>
      </span>
    </span>

      <span class="menu_mobile">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </span>

</mat-toolbar>

<mat-drawer-container class="example-container" autosize >
  <mat-drawer #drawer position="end" mode="over">
    <div class="sidebar_button">
      <button mat-button (click)="changeLang()">
        <mat-icon>language</mat-icon>{{'VER_TRADUZIDO' | translate}}
      </button>
    </div>
    
    <div *ngIf="!isLogged" class="sidebar_button">
      <a mat-button href="/login{{redirectTo}}" class="menu-item">
        {{'SING_IN' | translate}}
      </a>
    </div>
    <div *ngIf="!isLogged" class="sidebar_button">
      <a mat-button href="/cadastro" class="menu-item">
        {{ 'CADASTRO' | translate}}
      </a>
    </div>

    <div *ngIf="isLogged" class="sidebar_button">
      <a mat-button href="/perfil" class="menu-item">
        {{ 'PERFIL' | translate}}
      </a>
    </div>
    
    <div *ngIf="isLogged" class="sidebar_button">
      <button mat-button (click)="deslogar()" class="menu-item">
        {{'LOGOUT' | translate}}
      </button>
    </div>

  </mat-drawer>
  <mat-drawer-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
  

</mat-drawer-container>
