@import "../../../global.scss";

mat-list-item {
  margin-bottom: 15px;

  @media screen and (max-width: $tablet-width) {
    margin-bottom: 40px !important;
  }
}

.servico-list {
  display: grid;
  margin-top: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;

  @media screen and (max-width: $tablet-width) {
    grid-template-columns: 1fr;
  }
}

.mat-list-item {
  height: auto !important;
}

.no-registered {
  margin: 15px;
}

.icone {
  padding-right: 8px;
  cursor: pointer;
}

.footer-buttons {
  display: flex;
  justify-content: end;
}

.titulo-botao-servico {
  display: flex;
  justify-content: space-between;
}

.acoes-preco-por-tipo {
  display: flex;
  align-items: center;
}

.preco-por-tipo-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-editar-preco-por-tipo {
  display: flex;
}

.toggle-preco-por-tipo {
  display: grid;
}

.ativo-toggle {
  display: flex;
  flex-direction: column;
}

.card-preco-por-tipo {
  margin-top: 5px;
}

.session-title {
  display: block;
  font-size: 16px;
  margin: 12px 0 12px 0;
}
