<section>
    <h3 class="page-section-title">Adicionar animal</h3>
    <div class="form">
        <mat-form-field>
            <mat-label>Nome do pet</mat-label>
            <input matInput placeholder="Ex. Bidu">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Tipo do animal</mat-label>
            <mat-select>
              <mat-option></mat-option>
              <mat-option value="Cachorro">Cachorro</mat-option>
              <mat-option value="Gato">Gato</mat-option>
              <mat-option value="Ave">Ave</mat-option>
              <mat-option value="Réptil">Réptil</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="form__button-container">
            <button mat-flat-button color="primary">Adicionar</button>
            <button mat-stroked-button color="warn">Limpar</button>
          </div>
    </div>
    <!-- <input type="file" name="" id="" placeholder="Foto do animal"> -->
</section>