<section>
    <h3 class="page-section-title">{{'ANIMAIS' | translate}}</h3>
    
    <div class="conteiner-animal-list" *ngIf="animaisEstimacao && animaisEstimacao.length; then animaisBlock else vazioBlock"></div>
    
    <ng-template #vazioBlock>
        <p>{{'NENHUM_CADASTRADO' | translate}}</p>
    </ng-template>

    <ng-template #animaisBlock>
        <mat-list class="animal-list">
            <mat-list-item *ngFor="let animal of animaisEstimacao">
                <div class="animal-list__item">
                    <span>{{animal.nome}}</span> 
                    <div class="animal-list__button-container">
                        <button mat-flat-button color="accent" (click)="selecionaAnimal(animal)">{{'EDITAR' | translate}}</button>
                        <button mat-flat-button color="warn" (click)="removeAnimal(animal)">{{'REMOVER' | translate}}</button>
                    </div>
                </div>
            </mat-list-item>
        </mat-list>

        <mat-paginator #paginator
            [length]="quantidadeTotal"
            [pageIndex]="paginaAtual"
            [pageSize]="quantidadeItens"
            [pageSizeOptions]="[5, 7, 10, 15]"
            (page)="pageEvent = eventoPagina($event)">
        </mat-paginator>
    </ng-template>
   
</section>
