@import "../../../global.scss";

.content {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.agendamento-block{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.agendamento-send{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}