<mat-horizontal-stepper #stepper>
  <mat-step label="{{'INFORMACOES_CLIENTE' | translate}}">
    <div class="content">
      <app-cliente></app-cliente>
      <app-animal-estimacao *ngIf="idCliente && servicoSelecionado" 
            [idCliente]="idCliente" 
            [isVisualizacao]="isVisualizacao"
            [servico]="servicoSelecionado"
            (recupera-animais-estimacao)="recuperaAnimaisEstimacaoSelecionados($event)">
      </app-animal-estimacao>
    </div>
    <div class="button-container">
      <button mat-flat-button color="primary" matStepperNext [disabled]="!animaisEstimacao || !animaisEstimacao.length">{{'PROXIMO' | translate}}</button>
    </div>
  </mat-step>
  <mat-step label="{{'INFORMACOES_SERVICO' | translate}}">
    <app-servico-detalhado 
        [idServico]="idServico" 
        [idPrestador]="idPrestador" 
        [animais]="animaisEstimacao"
        [isVisualizacao]="isVisualizacao"
        (retorna-tipos)="recuperaPrecoPorTipo($event)"
        (retorna-adicionais)="recuperaAdicionais($event)"
        (recupera-data)="recuperaDataAtendimento($event)">
    </app-servico-detalhado>
    <div class="button-container">
      <button mat-flat-button color="primary" matStepperPrevious>{{'VOLTAR' | translate}}</button>
      <button mat-flat-button color="primary" matStepperNext [disabled]="!dataAgendamento" (click)="efetuarPagamento()">{{'PROXIMO' | translate}}</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>{{'AGENDAR' | translate}}</ng-template>
    <app-dados-agendamento *ngIf="idCliente"
      [idPrestador]="idPrestador"
      [animais]="animaisEstimacao"
      [precoPorTipo]="precoPorTipo"
      [isVisualizacao]="isVisualizacao"
      [adicionais]="adicionais"
      [servicoDetalhado]="servicoSelecionado"
      [idCliente]="idCliente"
      [dataAgendamento]="dataAgendamento"
      [status]=""
    >
    </app-dados-agendamento>
    <div class="button-container">
      <button mat-flat-button color="primary" matStepperPrevious>{{'VOLTAR' | translate}}</button>
      <button mat-flat-button color="warn" (click)="stepper.reset()">{{'CANCELAR' | translate}}</button>
      <button mat-flat-button color="success" (click)="criarAgendamento()">{{'AGENDAR' | translate}}</button>
      <div id="button-checkout"></div> 
    </div>
  </mat-step>
</mat-horizontal-stepper>

<p *ngIf="erroAgendamento">{{erroAgendamento}}</p>