@import "../../../global.scss";

.content {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, [col-start] minmax(250px, 1fr) [col-end]);
  gap: 20px;
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

.agendamento-block {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.agendamento-send {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.button-container,
.btn-agendar-container {
  display: flex;
  justify-content: space-between;

  @media (max-width: 525px) {
    flex-direction: column;
  }

  & > button {
    @media (max-width: 525px) {
      margin-bottom: 5px;
    }
  }

  &.botao-sozinho {
    justify-content: flex-end;
  }
}

.button-container {
  margin-top: 25px;
  width: 100%;

  .btn-direita {
    justify-self: flex-end;
  }
}

.btn-agendar-container {
  width: 320px;

  @media (max-width: 525px) {
    width: 100%;
  }
}

.mat-success {
  background-color: green;
  color: #fff;
}

.btn-mercado-pago {
  display: flex;
  margin-left: auto;
}

.btn {
  width: 150px;
}
