.page-section-title {
    font-size: 38px;
    text-align:center !important;
}

form {
    display: flex;
    flex-direction: column;
}

.login-form {
    width: 60%;
    background: white;
    margin: 0 auto;
    padding: 4% 2%;
    &__form {
        display: flex;
        flex-flow: column;
        width: 50%;
        margin: 0 auto;
        font-size:18px;
    }
}
.form__button-container{
    text-align:center;
    
}
.mat-flat-button{
    font-size:18px;
}