<h1>Avaliações</h1>
<h3 class="servico-topo">Nome Serviço - Nome prestador - 4,3 <mat-icon>star</mat-icon></h3>
<hr>

<div class="card-avaliacao">
    <div class="card-avaliacao__cliente">
        <div>
            <mat-icon>face</mat-icon>
        </div>

        <div class="card-avaliacao__infos-cliente">
            <div><strong>Nome cliente</strong></div>
            <div class="card-avaliacao__nota">
                <strong>5,0</strong>
                <div>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="card-avaliacao__comentario">
        <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis facere ex suscipit voluptates, qui facilis!</span>
    </div>
</div>


<div class="card-avaliacao">
    <div class="card-avaliacao__cliente">
        <div>
            <mat-icon>face</mat-icon>
        </div>
        
        <div class="card-avaliacao__infos-cliente">
            <div><strong>Nome cliente</strong></div>
            <div class="card-avaliacao__nota">
                <strong>3,5</strong>
                <div>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star_half</mat-icon>
                    <mat-icon>star_border</mat-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="card-avaliacao__comentario">
        <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis facere ex suscipit voluptates, qui facilis!</span>
    </div>
</div>

<div class="nova-avaliacao">
    <h1 class="nova-avaliacao__titulo">Avalie o serviço!</h1>
    <div class="nova-avaliacao__cat">
        <span>Atenção com o pet</span>
        <div>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
        </div>
    </div>
    <div class="nova-avaliacao__cat">
        <span>Qualidade dos produtos</span>
        <div>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
        </div>
    </div>
    <div class="nova-avaliacao__cat">
        <span>Custo benefício</span>
        <div>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
        </div>
    </div>
    <div class="nova-avaliacao__cat">
        <span>Infraestrutura</span>
        <div>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
        </div>
    </div>
    <div class="nova-avaliacao__cat">
        <span>Qualidade do serviço</span>
        <div>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
        </div>
    </div>
    <mat-form-field class="nova-avaliacao__comentario">
        <mat-label>Deixe um comentário</mat-label>
        <textarea matInput placeholder="Ex. O atendimento foi ótimo..."></textarea>
    </mat-form-field>
    <div>
        <button mat-flat-button color="primary">Enviar comentário</button>
    </div>
</div>