@import "../../../global.scss";

.servico-container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, [col-start] minmax(250px, 1fr) [col-end]);
  gap: 20px;
}

.preco {
  color: $title-color;
}

.lista-precos {
  background: $item-bg;
  border: $item-border;

  &__informacoes {
    font-size: 75% !important;
  }

  .d-none {
    display: none;
  }
}
