<div *ngIf="servicoDetalhado; then servicosBlock else vazioBlock"></div>

<ng-template #vazioBlock>
    <p class="no_registered">{{'SERVICO_NAO_ENCONTRADO' | translate}}</p>
</ng-template>

<ng-template #servicosBlock>
    <mat-card class="servicos-card">
        <div>
            <p><strong> Serviço selecionado </strong> </p>
            <p>Nome: {{servicoDetalhado.tipo.nome | translate}}</p> 
            <!-- <p>Preco: {{servicoDetalhado.preco | currency: 'BRL'}}</p> -->
            <p *ngIf="servicoDetalhado.descricao && servicoDetalhado.descricao !== ''">Descricao: {{servicoDetalhado.descricao | translate}}</p>
        </div>
        <br>
        <div>
            <p> <strong> Prestador </strong></p>
            <p><strong>{{'NOME' | translate}}:</strong> {{servicoDetalhado.prestador.nome}}</p>
            <p><strong>CPF:</strong> {{servicoDetalhado.prestador.cpf | mask: '000.000.000-00'}}</p>
            <p><strong>E-mail:</strong> {{servicoDetalhado.prestador.login.email}}</p>
        </div>
        <br>
        <div>
            <p><strong> Endereço </strong></p>
            <p>CEP: {{servicoDetalhado.prestador.endereco.cep}}</p> 
            <p>{{servicoDetalhado.prestador.endereco.logradouro}} - Numero: {{servicoDetalhado.prestador.endereco.numero}}</p>
            <p *ngIf="servicoDetalhado.prestador.endereco.complemento && servicoDetalhado.prestador.endereco.complemento !== ''">Complemento: {{servicoDetalhado.prestador.endereco.complemento}}</p>
            <p>Bairro: {{servicoDetalhado.prestador.endereco.bairro}}</p>
            <p>{{servicoDetalhado.prestador.endereco.cidade}} - {{servicoDetalhado.prestador.endereco.estado}}</p>
        </div>
    </mat-card>    
    
    <div *ngIf="animaisSelecionados && animaisSelecionados.length">
        <div *ngFor="let preco of getInformacoesTipoServico()">
            {{preco.tipoAnimal.nome}}
        </div>
    </div>
</ng-template>

{{animaisSelecionados | json}}