<div *ngIf="servicoDetalhado; then servicosBlock else vazioBlock"></div>

<ng-template #vazioBlock>
    <p class="no_registered">{{'SERVICO_NAO_ENCONTRADO' | translate}}</p>
</ng-template>

<ng-template #servicosBlock>
    <div class="servico-container">
        <div class="servico-container__card">
            <mat-card class="servicos-card">
                <div>
                    <p><strong> {{'SERVICO_SELECIONADO' | translate}} </strong> </p>
                    <p>{{'NOME' | translate}}: {{servicoDetalhado.tipo.nome | translate}}</p> 
                    <p *ngIf="servicoDetalhado.descricao && servicoDetalhado.descricao !== ''">{{'DESCRICAO' | translate}}: {{servicoDetalhado.descricao | translate}}</p>
                </div>
                <br>
                <div *ngIf="!empresaExiste(); else empresaBlock">
                    <p> <strong> {{'PRESTADOR' | translate}} </strong></p>
                    <p><strong>{{'NOME' | translate}}:</strong> {{servicoDetalhado.prestador.nome}}</p>
                    <p><strong>{{'CPF' | translate}}:</strong> {{servicoDetalhado.prestador.cpf | mask: '000.000.000-00'}}</p>
                    <p><strong>E-mail:</strong> {{servicoDetalhado.prestador.login.email}}</p>
                </div>
                <ng-template #empresaBlock>
                    <div>
                        <p><strong>Empresa</strong></p>
                        <p><strong>{{'NOME' | translate}}:</strong> {{geraNomeEmpresa() }}</p>
                        <p><strong>CNPJ:</strong> {{servicoDetalhado.prestador.empresa.cnpj | mask: '00.000.000/0000-00'}}</p>
                    </div>
                </ng-template>

                <br>
                <div>
                    <p><strong> {{'ENDERECO' | translate}} </strong></p>
                    <p>{{'CEP' | translate}}: {{servicoDetalhado.prestador.endereco.cep}}</p> 
                    <p>{{servicoDetalhado.prestador.endereco.logradouro}} - {{'NUMERO' | translate}}: {{servicoDetalhado.prestador.endereco.numero}}</p>
                    <p *ngIf="servicoDetalhado.prestador.endereco.complemento && servicoDetalhado.prestador.endereco.complemento !== ''">{{'COMPLEMENTO' | translate}}: {{servicoDetalhado.prestador.endereco.complemento}}</p>
                    <p>{{'BAIRRO' | translate}}: {{servicoDetalhado.prestador.endereco.bairro}}</p>
                    <p>{{'CIDADE_ESTADO' | translate}}: {{servicoDetalhado.prestador.endereco.cidade}} - {{servicoDetalhado.prestador.endereco.estado}}</p>
                </div>
            </mat-card>    
        </div>
        <div class="servico-container__tipo-servico">
            
            <div *ngIf="animaisSelecionados && animaisSelecionados.length; then tipoSelecionadoBlock else tipoListaBlock">
            </div>
            <hr>
            <div class="adicionais-selection" *ngIf="servicoDetalhado.adicionais && servicoDetalhado.adicionais.length; then adicionaisBlock else adicionaisVazioBlock">

            </div>
            <hr>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label>{{'ESCOLHA_DATA' | translate}}
                </mat-label>
                <input matInput [min]="dataMinima" [matDatepicker]="picker" (dateChange)="selecionaData($event)" >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field *ngIf="horariosAgendamento.length">
                <mat-label>{{'SELECIONE_HORARIO_AGENDAMENTO' | translate}}</mat-label>
                <mat-select (selectionChange)="geraDataAtendimento($event.value)">
                    <mat-option *ngFor="let horario of horariosAgendamento" [value]="horario">
                        {{horario}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>    
</ng-template>

<ng-template #adicionaisBlock>
    <p>{{'ADICIONAIS' | translate}}: </p>
    <mat-selection-list #adicionalList (selectionChange)="selecionaAdicional(adicionalList.selectedOptions.selected)">
        <mat-list-option *ngFor="let adicional of servicoDetalhado.adicionais" [value]="adicional">
            <p><strong>{{adicional.nome}}</strong> - <span *ngIf="adicional.descricao">{{'DESCRICAO' | translate}}: {{adicional.descricao }}</span> -  <span class="preco">{{adicional.preco | currency: 'BRL'}}</span></p>
        </mat-list-option>
    </mat-selection-list>
</ng-template>

<ng-template #adicionaisVazioBlock>
    {{'NENHUM_ADICIONAL_DISP' | translate}}
</ng-template>


<ng-template #tipoSelecionadoBlock>
    <p>{{'TIPO_SELECT_BASE_ANIMAL' | translate}}:</p>
    <mat-card *ngFor="let preco of getInformacoesTipoServico()">
        <mat-card-title>
            {{preco.tipoAnimal.nome}} - <span class="preco">{{ preco.preco | currency: 'BRL'}}</span>
        </mat-card-title>
        <mat-card-content>
            <p>{{preco.tipoAnimal.porte ? "Porte: " + preco.tipoAnimal.porte : ""}} </p>
            <p>{{preco.tipoAnimal.pelagem ? "Pelagem: " + preco.tipoAnimal.pelagem : ""}} </p>
        </mat-card-content>
    </mat-card>
</ng-template>

<ng-template #tipoListaBlock>
    <div class="lista-precos">
        <p>{{'SELECT_SERVICO_ANIMAL' | translate}}</p>
        <mat-selection-list #tipoServicoList (selectionChange)="selecionaTipo(tipoServicoList.selectedOptions.selected)">
            <mat-list-option *ngFor="let preco of servicoDetalhado.precoPorTipo" [value]="preco">
                <p class="lista-precos__informacoes"><span>{{preco.tipoAnimal.nome}}</span> <span>{{getDescricaoServico(preco)}}</span> - <span class="preco">{{preco.preco | currency: 'BRL'}}</span></p>
            </mat-list-option>
        </mat-selection-list>

        
    </div>
    <ul style="display:none">
        <li *ngFor="let preco of getInformacoesTipoServico()">{{preco.tipoAnimal.nome}}</li>
    </ul>
</ng-template>