<div class="background">
    <div class="selecao-estados" *ngIf="estados.length">
        <mat-form-field appearence="fill">
            <mat-label>{{'ESCOLHA_ESTADO' | translate}}</mat-label>
            <input matInput type="text"
            [formControl]="estadoFormControl"
            [matAutocomplete]="autoEstado"/>
            <mat-autocomplete #autoEstado="matAutocomplete" 
                [displayWith]="displayEstado" 
                (optionSelected)="buscaCidades($event.option.value)"
                >
                <mat-option *ngFor="let estado of filteredEstados | async" [value]="estado">
                    {{estado.estado}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearence="fill">
            <mat-label>{{'ESCOLHA_CIDADE' | translate}}</mat-label>
            <input matInput type="text"
            [formControl]="cidadeFormControl"
            [matAutocomplete]="autoCidade"/>
            <mat-autocomplete #autoCidade="matAutocomplete" 
                [displayWith]="displayCidade" 
                (optionSelected)="selecionaCidade($event.option.value)"
            >
                <mat-option *ngFor="let cidade of filteredCidades | async" [value]="cidade">
                    {{cidade.cidade}}
                  </mat-option>
            </mat-autocomplete>
        </mat-form-field>

    </div>
    <div class="carregando" *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="cidadeSelecionada">       
        <div class="selecao_servico" *ngIf="!loading && servicos && servicos.length; else nenhumServicoEncontrado">
            <!-- <h1>
                {{'SELECIONE_SERVICO'| translate}}
            </h1> -->
            <mat-tab-group mat-align-tabs="center">
                <mat-tab *ngFor="let grupo of grupos" class="menu-title" label="{{grupo | translate}}">
                    <div class=selecao_servico__button-container>
                        <a mat-flat-button *ngFor="let servico of exibirServicosPorGrupo(grupo)" href="/servico-detalhado/tipo-servico/{{servico.id}}?estado={{cidadeSelecionada.estadoId}}&cidade={{cidadeSelecionada.cidade}}">{{servico.nome | translate}}</a>
                    </div>
                </mat-tab>
            </mat-tab-group>      
        </div>
    
        <ng-template #nenhumServicoEncontrado>
            <div class="servicos-nao-encontrados" *ngIf="!loading && servicos && !servicos.length">
                <h1>{{'NENHUM_TIPO_SERVICO_ENCONTRADO' | translate}}</h1>
            </div>
        </ng-template>
    </div>

    
  
    <div class=attribution>
        <a href='https://www.freepik.com/photos/love'>{{'BACKGROUNG_REF' | translate}}</a>
    </div>
</div>