@import "../../global.scss";

$button-bg: #304b76;
$button-color: white;

.selecao_servico {
  padding: 10% 5%;
  height: 60vh;
  background-image: url("../../assets/icons/cat_home_2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-color: white;
  background-size: 100%;

  @media screen and (max-width: $tablet-width) {
    height: 100vh;
  }

  &__button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 5px;   

    @media screen and (max-width: $tablet-width) {
      display: flex;
      flex-direction: column;
    }
  }

  ::ng-deep .mat-flat-button {
    color: $button-color !important;
    font-size: 185% !important;
    height: 45px !important;
    background-color: $button-bg !important;
    margin-bottom: 5%;
  }
}

.attribution {
  font-size: 8px;
  left: 15px;
  position: absolute;
  bottom: 0px;
}

::ng-deep .mat-tab-label-content {
  font-size: 160%;
}