@import "../../global.scss";

$button-bg: #304b76;
$button-color: white;

.selecao-estados {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  height: 140px;
  align-items: end;

  @media screen and (max-width: $tablet-width) {
       grid-template-columns: 1fr;
  }
}

.servicos-nao-encontrados {
  h1 {
    color: #364b76;
    text-align: center;
    border-bottom: 1px solid #364b76;
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
  }
}

.carregando {
  margin: 0 auto;
  width: 100px;
}

.selecao_servico {
  padding: 0% 5%;
  height: 70vh;
  background-image: url("../../assets/icons/cat_home_2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-color: white;
  background-size: 100%;

  @media screen and (max-width: $tablet-width) {
    height: auto;
  }

  /* Media Query for Mobile Devices */
  @media (max-width: 480px) {
    height: auto;
  }

  /* Media Query for low resolution  Tablets, Ipads */
  @media (min-width: 598px) and (max-width: 767px) {
    height: 90vh;
  }

  /* Media Query for Tablets Ipads portrait mode */
  @media (min-width: 768px) and (max-width: 1024px) {
    height: 80vh;
  }

  /* Media Query for Laptops and Desktops */
  @media (min-width: 1025px) {
    height: 70vh;
  }

  &__button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 5px;

    @media screen and (max-width: $tablet-width) {
      display: flex;
      flex-direction: column;
      font-size: 90% !important;
    }
  }

  ::ng-deep .mat-flat-button {
    color: $button-color !important;
    font-size: 185% !important;
    height: 45px !important;
    background-color: $button-bg !important;
    margin-bottom: 5%;
  }
}

.attribution {
  position: absolute;
  font-size: 8px;
  bottom: 0;
}

.background {
  height: 100%;
  width: 100%;
  background-image: url("../../assets/icons/cat_home_2.jpg");
  background-repeat: no-repeat;

  /* background-attachment: fixed; */
  background-position: center bottom;
  background-color: white;
  background-size: cover;

  
  /* Media Query for Mobile Devices */
  @media (max-width: 480px) {
    height: auto;
  }

  /* Media Query for low resolution  Tablets, Ipads */
  @media (min-width: 598px) and (max-width: 767px) {
    height: auto;
  }  
}

::ng-deep .mat-tab-label-content {
  font-size: 160%;
}
