<div class=selecao_servico>
    <h1>
        {{'SELECIONE_SERVICO'| translate}}
    </h1>
    <div class=selecao_servico__button-container>
 
        <!-- <button mat-flat-button color="primary" value=1 (click)="buscarServicosDetalhadosPorTipo(this.value)">{{'BATH' | translate}}</button>

        <button mat-flat-button color="primary" >{{'WALKING' | translate}}</button>

       <button mat-flat-button color="primary" >PET SITTING</button> -->
                        <a mat-flat-button *ngFor="let servico of servicos" href="/servico-detalhado/tipo-servico/{{servico.id}}">{{servico.nome}}</a>
        </div>
</div>